/**********************************************************/
/*                       MODIFIERS                        */
/**********************************************************/

.link-reset {
    color: inherit;
}

.margin-reset {
    margin: 0;
}

.round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/******************** END - MODIFIERS *********************/


/**********************************************************/
/*                GENERAL COMPONENTS STYLES               */
/**********************************************************/

/// USER PHOTO + REVIEWS COMPONENT
.ma-user-photo-review-block {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    text-align: center;
    position:relative;
    display: block;

    &__photo {
        display: inline-block;
        vertical-align: middle;
    }

    &__reviews {
        text-align: center;
    }
}


/************ END - GENERAL COMPONENTS STYLES  ************/


/**********************************************************/
/*                    BODY MAIN STYLES                    */
/**********************************************************/

body.mainApp {

    padding: 0;
    background-color: $body-background;
    font-family: $body-font-family;
    font-weight: $global-weight-normal;
    line-height: $global-lineheight;
    color: $body-font-color;

    .ma-logo {
        background-image: url($logo-path);
        background-repeat: no-repeat;
        height: $logo-height;
        width: $logo-width;
        display: block;
    }

}
