$icons: (
	sprite: (width: 444px, height: 370px, pngPath: '../../../../assets/images/sprite-liner.png', svgPath: '../../../../assets/images/sprite-liner.svg'),
 	air-condition: (width: 64px, height: 64px, backgroundX: -74px, backgroundY: 0px),
 	bathroom: (width: 64px, height: 64px, backgroundX: -148px, backgroundY: -222px),
 	big-bed: (width: 64px, height: 64px, backgroundX: 0px, backgroundY: -74px),
 	book: (width: 64px, height: 64px, backgroundX: -74px, backgroundY: -74px),
 	breakfast: (width: 64px, height: 64px, backgroundX: -148px, backgroundY: 0px),
 	classroom: (width: 64px, height: 64px, backgroundX: -148px, backgroundY: -74px),
 	close-to: (width: 64px, height: 64px, backgroundX: 0px, backgroundY: -148px),
 	coffee: (width: 64px, height: 64px, backgroundX: -74px, backgroundY: -148px),
 	computer-room: (width: 64px, height: 64px, backgroundX: -148px, backgroundY: -148px),
 	dinner: (width: 64px, height: 64px, backgroundX: -222px, backgroundY: 0px),
 	hammock: (width: 64px, height: 64px, backgroundX: -222px, backgroundY: -74px),
 	heating: (width: 64px, height: 64px, backgroundX: -222px, backgroundY: -148px),
 	kitchen: (width: 64px, height: 64px, backgroundX: 0px, backgroundY: -222px),
 	laptop: (width: 64px, height: 64px, backgroundX: -74px, backgroundY: -222px),
 	lounger: (width: 64px, height: 64px, backgroundX: 0px, backgroundY: 0px),
 	lunch: (width: 64px, height: 64px, backgroundX: -222px, backgroundY: -222px),
 	movie: (width: 64px, height: 64px, backgroundX: -296px, backgroundY: 0px),
 	people: (width: 64px, height: 64px, backgroundX: -296px, backgroundY: -74px),
 	person: (width: 23.9px, height: 25.799999999999997px, backgroundX: -370px, backgroundY: -148px),
 	pool: (width: 64px, height: 64px, backgroundX: -296px, backgroundY: -222px),
 	snack: (width: 64px, height: 64px, backgroundX: 0px, backgroundY: -296px),
 	tea: (width: 64px, height: 64px, backgroundX: -74px, backgroundY: -296px),
 	tv: (width: 64px, height: 64px, backgroundX: -148px, backgroundY: -296px),
 	tv-cable: (width: 64px, height: 64px, backgroundX: -222px, backgroundY: -296px),
 	video-projector: (width: 64px, height: 64px, backgroundX: -296px, backgroundY: -296px),
 	washer: (width: 64px, height: 64px, backgroundX: -370px, backgroundY: 0px),
 	wifi: (width: 64px, height: 64px, backgroundX: -296px, backgroundY: -148px),
 	work: (width: 64px, height: 64px, backgroundX: -370px, backgroundY: -74px),
);
