/**********************************************************/
/*                  VARIABLES FOR MAIN APP                */
/**********************************************************/
//
//  Table of Contents:
//
//   1. Global
//   2. Logo
//   3. Buttons
//   4. Images
//   5. Header
//   6. Header - Blocks (Tabs)

//**********************************************************


// 1. Global
// ---------
$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$global-font-path: "../../../../assets/fonts";
$global-font-family: "MainAppFont";
$global-image-path: "../../../../assets/images";
$global-logo-file: "waysily-logo.png";
$global-photo-default-file: "waysily-photo-default.png";

$main-palette: (
  primary: #00B592,
  secondary: #006E58,
  success: #3adb76,
  warning: #e8ce47,
  alert: #ec5840,
);

$light-gray: #dce0e0;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #373737;
$white: #fefefe;

$body-background: $white;
$body-font-color: $black;
//$body-font-family: $global-font-family;
//TEST
$body-font-family: 'Roboto', sans-serif;

$body-antialiased: true;

$print-transparent-backgrounds: true;

// 2. Logo
// ----------
$logo-path: $global-image-path + '/' + $global-logo-file;
$logo-width: 75px;
$logo-height: 32px;

// 3. Buttons
// ----------
$button-padding: 0.85em 1em;
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background-primary: map-get($main-palette, primary);
$button-background-primary-hover: scale-color($button-background-primary, $lightness: -15%);
$button-background-secundary: map-get($main-palette, secondary);
$button-background-secundary-hover: scale-color($button-background-secundary, $lightness: -15%);
$button-color: $white;
$button-color-alt: $black;
$button-radius: $global-radius;
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.9rem,
  large: 1.25rem,
);
$button-opacity-disabled: 0.25;

// 4. Images
// ----------
$image-photo-default-path: $global-image-path + '/' + $global-photo-default-file;
$image-photo-default-size: 32px;
$image-photo-background: $dark-gray;

// 5. Header
// ---------
$header-height: 61px;
$header-background: $white;
$header-border: 1px solid $light-gray;
$header-top: 0;
$header-left: 0;
$header-width: 100%;
$header-index: 2;

// 6. Header - Blocks (Tabs)
// ---------
$header-block-border-solid: 1px solid $light-gray;
$header-block-border-dashed: 1px dashed $light-gray;
$header-block-height: 60px;
$header-block-lineheight: 60px;
$header-block-logo-background-hover: transparent;
$header-block-background-hover: #f5f5f5;

$header-block-btn-padding: 0 19px;

$header-block-btn-logo-top: 13px;

$header-block-btn-icon-size: 24px;
$header-block-btn-icon-background: transparent;

$header-block-btn-photo-top: 10px;


// reference: https://github.com/zurb/foundation-sites/blob/develop/scss/settings/_settings.scss
