/**********************************************************/
/*                  VARIABLES FOR MAIN APP                */
/**********************************************************/
//
//  Table of Contents:
//
//   1. Global
//   2. Button


// 1. Global
// ---------

$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;

$main-palette: (
  primary: #00B592,
  secondary: #006E58,
  success: #3adb76,
  warning: #e8ce47,
  alert: #ec5840,
);

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #212121;
$white: #fefefe;

$body-background: $white;
$body-font-color: $black;
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;

$print-transparent-backgrounds: true;


// 2. Button
// ----------

$button-padding: 0.85em 1em;
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background-primary: $main-palette.primary;
$button-background-primary-hover: scale-color($button-background-primary, $lightness: -15%);
$button-background-secundary: $main-palette.secundary;
$button-background-secundary-hover: scale-color($button-background-secundary, $lightness: -15%);
$button-color: $white;
$button-color-alt: $black;
$button-radius: $global-radius;
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.9rem,
  large: 1.25rem,
);
$button-opacity-disabled: 0.25;


// reference: https://github.com/zurb/foundation-sites/blob/develop/scss/settings/_settings.scss
