/**********************************************************/
/*                  VARIABLES FOR MAIN APP                */
/**********************************************************/
//
//  Table of Contents:
//
//   1. Global
//   2. Buttons
//   3. Header
//   4. Header - Blocks (Tabs)
//   5. Header - Search Bar
//   6. Images
//   7. Labels
//   7. Links
//   8. Logo
//   9. Paragraph
//   11. Stars

//**********************************************************


// 1. Global
// ---------
$main-palette: (
  primary: #00B592,
  secondary: #018a6f,
  success: #3adb76,
  warning: #e8ce47,
  alert: #ec5840,
);

$light-gray: #dce0e0;
$medium-gray: #bcc1c1;
$dark-gray: #8a8a8a;
$black: #373737;
$white: #fefefe;

$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$global-border-dashed: 1px dashed $light-gray;
$global-font-path: "../../../../assets/fonts";
$global-font-family: "MainAppFont";
$global-image-path: "../../../../assets/images";
$global-logo-file: "waysily-logo.png";
$global-photo-default-file: "waysily-photo-default.png";

$body-background: #fafafa;
$body-font-color: $black;
//$body-font-family: $global-font-family;
//TEST
$body-font-family: 'Roboto', sans-serif;

$body-antialiased: true;

$print-transparent-backgrounds: true;


// 2. Buttons
// ----------
$button-margin: 0 0 $global-margin 0;
$button-font-sizes: (
  small: 12px,
  default: 14px,
  large: 16px,
);
$button-font-color: $white;
$button-radius: 4px;
$button-lineheight: 1.43;
$button-paddings: (
  small: 4px 12px,
  default: 7px 21px,
  large: 9px 27px,
);
$button-opacity-disabled: 0.45;

$button-primary-border-color: map-get($main-palette, secondary);
$button-primary-background: map-get($main-palette, primary);
$button-primary-background-hover: #00987b;

$button-secondary-border: 2px solid $button-primary-background;
$button-secondary-background: map-get($main-palette, secondary);
$button-secondary-background-hover: scale-color($button-secondary-background, $lightness: -15%);
$button-secondary-color: map-get($main-palette, primary);
$button-secondary-border-color: map-get($main-palette, secondary);

$button-block-width: 100%;


// 3. Header
// ---------
$header-height: 61px;
$header-background: $white;
$header-border: 1px solid $light-gray;
$header-top: 0;
$header-left: 0;
$header-width: 100%;
$header-index: 2;


// 4. Header - Blocks (Tabs)
// ---------
$header-block-border-solid: 1px solid $light-gray;
$header-block-border-dashed: $global-border-dashed;
$header-block-height: 60px;
$header-block-lineheight: 60px;

$header-block-logo-background-hover: transparent;
$header-block-background-hover: #f5f5f5;

$header-block-btn-padding: 0 19px;

$header-block-btn-logo-top: 13px;

$header-block-btn-icon-top: 7px;
$header-block-btn-icon-size: 24px;
$header-block-btn-icon-background: transparent;
$header-block-btn-icon-font-color: $medium-gray;

$header-block-btn-photo-top: 10px;


// 5. Header - Search Bar
// ----------
$header-search-wrapper-width: 10000px;
$header-search-wrapper-paddingtop: 0;

$header-search-form-margin: 0;
$header-search-form-index: 11;

$header-search-bar-icon-top: 19px;
$header-search-bar-icon-left: 16px;
$header-search-bar-icon-index: 1;

$header-search-input-width: 100%;
$header-search-input-padding: 0 0 0 48px;
$header-search-input-border: 0;
$header-search-input-outline: 0;
$header-search-input-font-size: 17px;


// 5. Images
// ----------
$image-photo-default-path: $global-image-path + '/' + $global-photo-default-file;
$image-photo-sizes: (
    small: 32px,
    default: 100px,
    large: 240px,
);
$image-photo-background: $dark-gray;


// 6. Labels
// ---------
$label-radius: 4px;
$label-font-sizes: (
  small: 12px,
  default: 14px,
  large: 16px,
);
$label-lineheight: 1.43;
$label-box-paddings: (
  small: 4px 12px,
  default: 7px 21px,
  large: 9px 27px,
);

$label-simple-color-gray: $dark-gray;
$label-simple-color-primary: map-get($main-palette, primary);

$label-box-secondary-font-color: map-get($main-palette, primary);
$label-box-secondary-border: 2px solid map-get($main-palette, primary);

// 6. Links
// ---------
$link-font-color: map-get($main-palette, primary);
$link-border: 1px solid transparent;

$link-box-radius-hover: 3px;
$link-box-background-hover: map-get($main-palette, primary);
$link-box-border-hover: map-get($main-palette, secondary);
$link-box-font-color-hover: $white;

$link-simple-font-color: $black;
$link-simple-font-sizes: (
  small: 15px,
  default: 20px,
  large: 30px,
);


// 7. Logo
// ----------
$logo-path: $global-image-path + '/' + $global-logo-file;
$logo-width: 75px;
$logo-height: 32px;


// 9. Paragraph
// -------------

$paragraph-font-size: 14px;
$paragraph-lineHeight: 1.5;
$paragraph-lines-to-show: 3;
//reference: http://revelry.co/multi-line-ellipsis-using-pure-css/

$paragraph-font-color: $dark-gray;
$paragraph-bold-font-color: $black;


// 11. Stars
// ---------
$star-font-color: #ffd800;
$star-sizes: (
  tiny: 18px,
  small: 24px,
  default: 30px,
  large: 36px,
);
$star-font-sizes: (
  tiny: 18px,
  small: 24px,
  default: 30px,
  large: 36px,
);

// reference: https://github.com/zurb/foundation-sites/blob/develop/scss/settings/_settings.scss
