<!--                     START:  COUNTRY PROFILE PAGE                        -->
<!----------------------------------------------------------------------------->
<div class="countryProfilePage">

    <!--------------------------- START: HERO BLOCK --------------------------->
    <section class="ma-hero" style="height: 50vh;">

        <div class="poster poster--main"
             ng-style="{'background': 'linear-gradient(rgba(18,18,18,0.4), rgba(18,18,18,0.4)), url(' + vm.data.photo + ')', 'background-size': 'cover'}">
        </div>

	    <div class="ma-hero__wrapper">

            <h4 class="text-shadow animated fadeIn text-right margin-reset space-top-11">
                currency
            </h4>
            <h4 class="text-shadow animated fadeIn text-right margin-reset space-top-1">
                Boliviano (BOB)
            </h4>

            <h3 class="text-shadow animated fadeIn text-right space-top-2">
                1 USD = 10.000 BOB
            </h3>

            <h1 class="ma-hero__wrapper__title text-shadow animated fadeIn margin-reset"
                translate>
                {{ vm.data.code | getI18nFilter:'country' }}
            </h1>

	   </div>

	</section>
    <!--                          END: HERO BLOCK                            -->


    <!--------------------- START: COUNTRY CONTENT BLOCK ---------------------->
    <div class="row container">

        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">

            <! Country description block >
            <section class="space-top-8 space-11">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="margin-reset space-top-2 space-3">
                            La magia de Bolivia
                        </h3>
                        <p class="ma-p ma-p--large">
                            <span translate>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                            </span>
                        </p>
                    </div>
                </div>

            </section>


            <div class="ma-separator-dashed-image space-11"></div>


            <! Top schools block >
            <section class="landingPage__progress-block space-top-11 space-11">

                <! Title >
                <div class="row space-5">
                    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <h2 class="margin-reset" translate>
                            Top Schools
                        </h2>
                    </div>
                    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
                </div>

                <! Schools list >
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5"
                                 ng-repeat="item in ::vm._schoolsList">
                                 <ma-school-result data-id="{{::item.id}}" data-alias="{{::item.aliasSchool}}">
                                 </ma-school-result>
                            </div>

                        </div>
                    </div>
                </div>

            </section>


            <hr>


            <! Top teachers block >
            <section class="landingPage__progress-block space-top-11 space-11">

                <! Title >
                <div class="row space-5">
                    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <h2 class="margin-reset" translate>
                            Top Teachers
                        </h2>
                    </div>
                    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
                </div>

                <! Teachers list >
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5"
                                 ng-repeat="item in ::vm._teachersList">
                                 <ma-teacher-result></ma-teacher-result>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
        
    </div>
    <!--                     END: COUNTRY CONTENT BLOCK                      -->


</div>
<!--                      END: COUNTRY PROFILE PAGE                          -->
