# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
# www/**/*.js
typings
www/bower_components
index-backup.html
app.module-backup.ts
test-video.mp4
www/assets/images/amenities-icons
