/*************************/
/*       VARIABLES       */
/*************************/
$userEditAgenda-padding: 20px;
$userEditAgenda-block-margin: 20px;

$userEditAgenda-block-background-top: 0;
$userEditAgenda-block-background-opacity: 0.3;

$userEditAgenda-block-exceptions-border:  1px solid #ddd;
$userEditAgenda-block-exceptions-background:  rgba(245, 245, 245, 0.48);
$userEditAgenda-block-exceptions-padding: 15px 0;
$userEditAgenda-block-exceptions-marginLeft: -21px;
$userEditAgenda-block-exceptions-marginRight: -21px;
$userEditAgenda-block-exceptions-day-marginRight: 30px;
$userEditAgenda-block-exceptions-add-marginLeft: 20px;
$userEditAgenda-block-exceptions-add-button-font-color: $dark-gray;
$userEditAgenda-block-exceptions-add-button-font-color-hover: map-get($main-palette, alert);



/**********************************************************/
/*                   USER EDIT MEDIA PAGE                 */
/**********************************************************/

.userEditAgendaPage {
    padding-top: $userEditAgenda-padding;

    &__block {
        margin-bottom: $userEditAgenda-block-margin;

        &__background {
            position: absolute;
            top: $userEditAgenda-block-background-top;
            left: auto;
            opacity: $userEditAgenda-block-background-opacity;
        }

        &__config-section {

            &__exceptions {
                border: $userEditAgenda-block-exceptions-border;
                //background-color: #f5f5f5;
                background-color: $userEditAgenda-block-exceptions-background;
                padding: $userEditAgenda-block-exceptions-padding;
                margin-left: $userEditAgenda-block-exceptions-marginLeft;
                margin-right: $userEditAgenda-block-exceptions-marginRight;

                .day-exception {
                    margin-right: $userEditAgenda-block-exceptions-day-marginRight;
                }

                .add-exception {
                    vertical-align: bottom;
                    margin-left: $userEditAgenda-block-exceptions-add-marginLeft;

                    &__btn {
                        vertical-align: text-bottom;
                        cursor: pointer;
                        color: $userEditAgenda-block-exceptions-add-button-font-color;
                        &:hover {
                            color: $userEditAgenda-block-exceptions-add-button-font-color-hover;
                        }
                    }
                }
            }
        }
    }
}
