
<!--                          START: NAVBAR MENU                             -->
<!----------------------------------------------------------------------------->

<div class="ma-subnav">

    <div class="container">
        <ul class="ma-subnav__list text-center">
            <li class="ma-subnav__list__option">
                <a class="ma-subnav__list__option__tab"
                   href="/users/edit">Bandeja de Entrada</a>
            </li>
            <li class="ma-subnav__list__option">
                <a class="ma-subnav__list__option__tab"
                   href="/users/edit">Invitar amigos</a>
            </li>
            <li class="ma-subnav__list__option">
                <a class="ma-subnav__list__option__tab"
                   ui-sref="page.userEditProfilePage"
                   href="#">Perfil</a>
            </li>
            <li class="ma-subnav__list__option">
                <a class="ma-subnav__list__option__tab
                          ma-subnav__list__option__tab--active"
                   ui-sref="page.userEditAgendaPage"
                   href="#">Agenda</a>
            </li>
        </ul>
    </div>

</div>
<!--                             END: NAVBAR MENU                            -->



<!--------------------------------------------->
<!--          USER EDIT AGENDA PAGE          -->
<!--------------------------------------------->

<div class="userEditAgendaPage container">

    <div class="row">

        <!--                     START: LEFT COLUMN                      -->
        <!----------------------------------------------------------------->
        <div id="userEditAgenda-left-column" class="col-md-3 col-lg-3 hidden">

            <!------------------- START: LEFT MENU BLOCK ------------------>
            <div id="userEditAgenda-menu-block" class="userEditAgendaPage__block row">

                <div class="col-md-12">

                    <div class="ma-box ma-box">

                        <div class="ma-box__content ma-box__content--padding-reset">
                            <div class="menu-box">
                                <div class="menu-box__item" ng-click="vm.goToEditProfile()">
                                    Edit Profile
                                </div>
                                <div class="menu-box__item" ng-click="vm.goToEditMedia()">
                                    Edit Photo
                                </div>
                                <div class="menu-box__item menu-box__item--active">
                                    Edit Agenda
                                </div>
                                <div class="menu-box__item menu-box__item--with-button">
                                    <a class="ma-btn ma-btn--default ma-btn--primary ma-btn--block" ui-sref="page.userProfilePage({id: '1'})" href="#/page/users/show/1">Ver Perfil</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!--                    END: LEFT MENU BLOCK                     -->

        </div>
        <!--                        END: LEFT COLUMN                     -->



        <!--                    START: MIDDLE COLUMN                     -->
        <!----------------------------------------------------------------->
        <!--<div id="userEditAgenda-middle-column" class="col-md-9 col-lg-9">-->
        <div id="userEditAgenda-middle-column" class="col-md-12 col-lg-12">

            <!------------------- START: AGENDA BLOCK --------------------->
            <div id="userEditAgenda-agenda-block"
                 class="userEditAgendaPage__block row">

                <div class="col-md-12">

                    <div class="ma-box">

                        <h4 class="ma-box__title margin-reset">User Agenda</h4>

                        <button class="menu-box__item menu-box__item--active
                                       hidden"
                                ng-click="vm.$scope.changeView()">
                            Change View
                        </button>

                        <div class="ma-box__content">

                            <div class="row">
                                <div class="col-lg-7">
                                    <!-- Agenda -->
                                    <div class="agenda-container">
                                        <div class="ma-agenda"
                                             ui-calendar="vm.$scope.calendarConfig.calendar"
                                             calendar="userAgenda"
                                             ng-model="vm.$scope.eventSources">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <!-- Config Section -->
                                    <div class="userEditAgendaPage__block__config-section">
                                        <div class="ma-box ma-box">

                                            <h4 class="ma-box__title margin-reset">Fast Configuration</h4>

                                            <div class="ma-box__content">
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <div class="ma-switch">
                                                            <button class="ma-btn ma-btn--default ma-switch__btn"
                                                                    value="1">
                                                                DISPONIBLE
                                                            </button>
                                                            <button class="ma-btn ma-btn--default ma-switch__btn"
                                                                    disabled="disabled" value="0">
                                                                BLOQUEADO
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr>

                                                <form class="form-inline text-center">

                                                    <label for="inputGroup" style="margin-bottom: 10px;">¿Disponibilidad entre semana? <div class="ma-label ma-label--simple ma-label--simple--primary ma-label--simple--small margin-reset">(Lunes a Viernes)</div></label>

                                                    <!-- First SelectList -->
                                                    <div class="form-group ma-form-group">
                                                        <label class="sr-only"
                                                               for="defaultSelect3">
                                                            Default Select Label Hidden
                                                        </label>
                                                        <div class="ma-select ma-select--default">
                                                            <select id="defaultSelect3"
                                                                    class="ma-input ma-input--default"
                                                                    name="agenda[time]">
                                                                <option value="">time</option>
                                                                <option value="11:00" selected="selected">11:00 am</option>
                                                                <option value="12:00">12:00 pm</option>
                                                                <option value="13:00">1:00 pm</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group ma-form-group" style="margin: 0 10px;">
                                                        <label for=""> a </label>
                                                    </div>

                                                    <!-- Second SelectList -->
                                                    <div class="form-group ma-form-group">
                                                        <label class="sr-only"
                                                               for="defaultSelect4">
                                                            Default Select Label Hidden
                                                        </label>
                                                        <div class="ma-select ma-select--default">
                                                            <select id="defaultSelect4"
                                                                    class="ma-input
                                                                           ma-input--default"
                                                                    name="agenda[time]">
                                                                <option value="">time</option>
                                                                <option value="11:00" selected="selected">11:00 am</option>
                                                                <option value="12:00">12:00 pm</option>
                                                                <option value="13:00">1:00 pm</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </form>

                                                <hr>

                                                <form class="form-inline text-center">

                                                    <label for="inputGroup" style="margin-bottom: 10px;">
                                                        ¿Disponibilidad fin de semana?
                                                        <div class="ma-label
                                                                    ma-label--simple
                                                                    ma-label--simple--primary
                                                                    ma-label--simple--small
                                                                    margin-reset">
                                                            (Sabados y Domingos)
                                                        </div>
                                                    </label>

                                                    <!-- First SelectList -->
                                                    <div class="form-group ma-form-group">
                                                        <label class="sr-only"
                                                               for="defaultSelect3">
                                                            Default Select Label Hidden
                                                            </label>
                                                        <div class="ma-select ma-select--default">
                                                            <select id="defaultSelect3"
                                                                    class="ma-input ma-input--default"
                                                                    name="agenda[time]">
                                                                <option value="">time</option>
                                                                <option value="11:00" selected="selected">11:00 am</option>
                                                                <option value="12:00">12:00 pm</option>
                                                                <option value="13:00">1:00 pm</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group ma-form-group" style="margin: 0 10px;">
                                                        <label for=""> a </label>
                                                    </div>

                                                    <!-- Second SelectList -->
                                                    <div class="form-group ma-form-group">
                                                        <label class="sr-only"
                                                               for="defaultSelect4">
                                                            Default Select Label Hidden
                                                        </label>
                                                        <div class="ma-select ma-select--default">
                                                            <select id="defaultSelect4"
                                                                    class="ma-input ma-input--default"
                                                                    name="agenda[time]">
                                                                <option value="">time</option>
                                                                <option value="11:00" selected="selected">11:00 am</option>
                                                                <option value="12:00">12:00 pm</option>
                                                                <option value="13:00">1:00 pm</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!--                     END: BASIC INFO BLOCK                   -->

            </div>
            <!--                      END: MIDDLE COLUMN                         -->


        </div>

    </div>

</div>
