<!--------------------------------------------->
<!--                 HEADER                  -->
<!--------------------------------------------->

<div class="ma-header">

    <!--                     START: HEADER (SMALL SCREEN)                    -->
    <!------------------------------------------------------------------------->
    <div class="ma-header--small visible-xs">

        <!-------------------- START: MENU (SMALL SCREEN) --------------------->
        <div class="ma-header__block pull-left">
            <a href
               aria-label="Homepage"
               class="ma-header__block__btn link-reset"
               ng-click="vm.slideNavMenu()">
                <i class="material-icons ma-header__block__btn__icon">menu</i>
                <span class="screen-reader-only">
                    Waysily
                </span>
            </a>
        </div>
        <!--                    END: MENU (SMALL SCREEN)                     -->



        <!--------------------- START: SEARCH (SMALL SCREEN) ------------------>
        <div class="ma-header__block ma-header__block__search-wrapper"
             role="search">
            <form class="ma-header__block__search-wrapper__form">
                <div class="ma-header__block__search-wrapper__form__search-bar">
                    <i class="material-icons
                              ma-header__block__btn__icon
                              ma-header__block__search-wrapper__form__search-bar__icon">
                        search
                    </i>
                    <label class="screen-reader-only"
                           for="header-search-form" aria-hidden="true" translate>
                        %header.search.placeholder.text
                    </label>
                    <input type="text"
                           class="ma-header__block__search-wrapper__form__search-bar__input"
                           placeholder="Where to?" autocomplete="off"
                           name="location" class="location" value="">
                    <input type="hidden" name="source" value="hdr">
                </div>
            </form>
        </div>
        <!--                     END: SEARCH (SMALL SCREEN)                  -->



        <!---------------------- START: NAV (SMALL SCREEN) -------------------->
        <nav class="ma-nav--small"
             ng-class="{'ma-nav--small--active': vm._slideout}"
             role="navigation">

            <div class="ma-nav--small__mask"
                 ng-class="{'ma-nav--small__mask--active': vm._slideout}"
                 ng-click="vm.slideNavMenu()"></div>

            <div class="ma-nav--small__content ma-nav-content"
                 ng-class="{'ma-nav--small__content--active': vm._slideout}">

                <div class="ma-nav-content__header">
                    <div class="ma-nav-content__header__profile">

                        <div class="ma-nav-content__header__profile__user-item">
                            <div class="ma-photo-profile
                                        ma-photo-profile--tiny
                                        round">
                                <img width="32"
                                     height="32"
                                     ng-show="vm.$rootScope.profileData.avatar"
                                     ng-src="{{vm.$rootScope.profileData.avatar}}"
                                     alt="{{vm.$rootScope.profileData.firstName}}">
                            </div>
                            <div class="ma-label
                                        ma-label--simple
                                        ma-label--simple--medium
                                        ma-label--simple--primary
                                        margin-reset
                                        text-truncate">Sergio Ruiz Davila</div>
                        </div>

                    </div>
                </div>

                <hr>

                <div class="nav-menu-wrapper">
                    <div class="nav-menu-wrapper__container">
                        <div class="nav-menu-wrapper__container__menu">
                            <ul class="nav-menu-wrapper__container__menu__group
                                       nav-menu-wrapper__container__menu__group--first
                                       list-unstyled">
                                <li class="items-logged-in">
                                    <a href="/dashboard" class="link-reset menu-item dashboard hide" rel="nofollow">
                                        Dashboard
                                    </a>
                                </li>
                                <li class="items-logged-out">
                                    <a data-signup-modal="" href="/signup_login" class="link-reset menu-item" rel="nofollow">
                                        Sign Up
                                    </a>
                                </li>
                                <li class="items-logged-out">
                                    <a data-login-modal="" href="/login" class="link-reset menu-item" rel="nofollow">
                                        Log In
                                    </a>
                                </li>
                                <li class="items-logged-in">
                                    <a href="/alerts" rel="nofollow" class="link-reset menu-item">
                                        Messages
                                    </a>
                                </li>
                                <li class="items-logged-in">
                                    <a href="/inbox" rel="nofollow" class="link-reset menu-item">
                                        Inbox
                                    </a>
                                </li>
                                <li class="items-logged-out">
                                    <a href="/how-it-works" class="link-reset menu-item" rel="nofollow">
                                        How it Works
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav-menu-wrapper__container__menu__group list-unstyled">
                                <li>
                                    <a href="/help" rel="nofollow" class="link-reset menu-item">
                                        Help
                                    </a>
                                </li>
                                <li class="items-logged-in">
                                    <a href="/invite" rel="nofollow" class="link-reset menu-item">
                                        Invite Friends
                                    </a>
                                </li>
                                <li class="items-logged-in">
                                    <a href="/logout" rel="nofollow" class="link-reset menu-item logout">
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </nav>
        <!--                     END: NAV (SMALL SCREEN)                     -->

    </div>
    <!--                      END: HEADER (SMALL SCREEN)                     -->



    <!--                   START: HEADER (MD AND LG SCREEN)                  -->
    <!------------------------------------------------------------------------->
    <header class="hidden-xs clearfix">

        <!-------------------- START: LOGO (MD AND LG SCREEN) ----------------->
        <div class="ma-header__block pull-left">
            <a ui-sref="page.landingPage" class="ma-header__block__btn
                          ma-header__block__logo-wrapper
                          link-reset" aria-label="Waysily">
                <i class="ma-logo ma-header__block__btn__ma-logo"></i>
            </a>
        </div>
        <!--                   END: LOGO (MD AND LG SCREEN)                  -->



        <!---------------- START: PROFILE IMAGE (MD AND LG SCREEN) ------------>
        <div ng-if="vm.isAuthenticated"
             class="ma-header__block pull-right">

            <! User menu options dropdown >
            <span uib-dropdown on-toggle="toggled(open)">
                <a id="user-menu-options"
                   class="ma-header__block__btn
                          link-reset dropdown-toggle"
                   uib-dropdown-toggle href
                   aria-haspopup="true" aria-expanded="true">
                    <div class="ma-photo-profile
                                ma-photo-profile--tiny
                                round
                                ma-header__block__btn__icon
                                ma-header__block__btn__icon__ma-photo">
                        <img width="32"
                             height="32"
                             ng-show="vm.$rootScope.profileData.avatar"
                             ng-src="{{vm.$rootScope.profileData.avatar}}"
                             alt="{{vm.$rootScope.profileData.firstName}}">
                    </div>
                </a>
                <ul class="ma-dropdown
                           dropdown-menu
                           dropdown-menu-right"
                    uib-dropdown-menu
                    role="menu"
                    aria-labelledby="user-menu-options">
                    <li class="ma-dropdown__option">
                        <a ui-sref="page.editProfile.basicInfo"
                           class="ma-dropdown__option__btn"
                           href translate>
                            %profile.teacher.edit_profile.button.text
                        </a>
                    </li>
                    <li class="ma-dropdown__option hidden">
                        <a ui-sref="page.userEditAgendaPage"
                           class="ma-dropdown__option__btn"
                           href>
                            Edit Agenda
                        </a>
                    </li>

                    <li class="ma-dropdown__option last-option">
                        <a class="ma-dropdown__option__btn text-capitalize"
                           ng-click="vm.logout()"
                           href translate>
                           %global.logout.button.text
                        </a>
                    </li>
                </ul>
            </span>
        </div>
        <!--                END: PROFILE IMAGE (MD AND LG SCREEN)            -->



        <!---------------- START: LOG IN BUTTON (MD AND LG SCREEN) ------------>
        <div ng-if="!vm.isAuthenticated" class="ma-header__block pull-right">
            <a href class="ma-header__block__btn link-reset text-capitalize"
                    ng-click="vm._openLogInModal()" translate>
                %global.login.label.text
            </a>
        </div>
        <!--                END: LOG IN BUTTON (MD AND LG SCREEN)            -->



        <!--------------- START: SIGN UP BUTTON (MD AND LG SCREEN) ------------>
        <div ng-if="!vm.isAuthenticated" class="ma-header__block pull-right">
            <a href class="ma-header__block__btn link-reset text-capitalize"
                    ng-click="vm._openSignUpModal()" translate>
                %global.signup.label.text
            </a>
        </div>
        <!--               END: SIGN UP BUTTON (MD AND LG SCREEN)            -->



        <!---------------- START: INBOX BUTTON (MD AND LG SCREEN) ------------->
        <div class="ma-header__block pull-right hidden">

            <a ui-sref="page.userInboxPage" href rel="nofollow"
               class="ma-header__block__btn link-reset">
               <span class="ma-icon-container">
                   <span class="ma-icon-container__count
                                ma-icon-container__count--primary
                                ma-icon-container__count--tiny
                                ma-header__block__btn__count
                                text-center">1</span>
                   <i class="material-icons ma-header__block__btn__icon
                             md-24 md-dark">
                       chat
                   </i>
               </span>
            </a>

        </div>
        <!--               END: INBOX BUTTON (MD AND LG SCREEN)              -->



        <!--------------- START: JOIN SECTION (MD AND LG SCREEN) -------------->
        <div class="ma-header__block
                    ma-header--transparent__block
                    ma-header--transparent__block--right
                    pull-right">

            <div class="ma-header--transparent__block__buttons-list">
                <span ng-if="!vm.isTeacher"
                      class="ma-header--transparent__block__buttons-list__label
                             space-right-2"
                      style="color: inherit;"
                      translate>
                    %landing.header.join.label.text
                </span>
                <button ng-if="!vm.isAuthenticated"
                        class="ma-header--transparent__block__buttons-list__btn
                               ma-btn ma-btn--secondary ma-btn--default space-right-1 hidden"
                        ng-click="vm._openSignUpModal()" translate>
                    %global.student.text
                </button>
                <a ng-if="!vm.isTeacher"
                   class="ma-header--transparent__block__buttons-list__btn
                          ma-btn ma-btn--secondary ma-btn--default space-right-1"
                    ui-sref="page.teacherLandingPage"
                    uib-tooltip-template="'headerTooltip.tmpl.html'"
                    tooltip-placement="bottom"
                    tooltip-animation="false"
                    tooltip-class="ma-tooltip ma-tooltip--gray ma-tooltip--small"
                    href
                    translate>
                    %global.teacher.text
                </a>
                <a class="ma-header--transparent__block__buttons-list__btn
                               ma-btn ma-btn--secondary ma-btn--default hidden"
                   href="https://waysily.typeform.com/to/jvr0zW"
                   target="_blank" translate>
                    %global.school.text
                </a>

            </div>

        </div>
        <!--              END: JOIN SECTION (MD AND LG SCREEN)               -->


        <style media="screen">

        .ma-header__block__search-wrapper .ma-dropdown li > a {
            font-size: 20px;
        }

        .ma-header__block__search-wrapper .ma-dropdown li > a.disabled {
            font-size: 20px;
            color: #CCC;
            cursor: no-drop;
        }

        .ma-header__block__search-wrapper .ma-dropdown li > a.disabled .ma-p {
            color: #CCC;
        }

        .ma-header__block__search-wrapper .ma-dropdown li > a.disabled:hover {
            color: #CCC;
            text-decoration: none;
            background-color: transparent;
            font-weight: 100;
            margin-left: 0;
        }
        </style>

        <!--------------- START: WHERE DROPDOWN (MD AND LG SCREEN) ------------>
        <div class="ma-header__block ma-header__block__search-wrapper hidden-sm"
             uib-dropdown on-toggle="toggled(open)"
             role="search">
            <form class="ma-header__block__search-wrapper__form"
                  uib-dropdown-toggle href
                  aria-haspopup="true" aria-expanded="true">
                <div class="ma-header__block__search-wrapper__form__search-bar" style="cursor:pointer;">
                    <i class="material-icons
                              ma-header__block__btn__icon
                              ma-header__block__search-wrapper__form__search-bar__icon">
                        search
                    </i>
                    <p class="ma-p ma-p--default margin-reset"
                        style="padding: 0 0 0 48px;">
                        {{vm.form.whereTo}}
                    </p>
                </div>
            </form>
            <ul class="ma-dropdown
                       dropdown-menu
                       dropdown-menu-left" style="width: 90%;"
                uib-dropdown-menu
                role="menu"
                aria-labelledby="user-menu-options">
                <li class="ma-dropdown__option">
                    <a class="ma-dropdown__option__btn"
                       ng-click="vm.search('Colombia');$event.preventDefault()"
                       href="/page/search">
                       <span translate>
                           %country.CO
                       </span>
                    </a>
                </li>
                <li class="ma-dropdown__option">
                    <a class="ma-dropdown__option__btn clearfix disabled"
                       href>
                       <span class="pull-left" translate>
                           %country.GT
                       </span>
                        <span class="ma-p ma-p--default pull-right" translate>
                            %global.coming_soon.text
                        </span>
                    </a>
                </li>
                <li class="ma-dropdown__option">
                    <a class="ma-dropdown__option__btn clearfix disabled"
                       href>
                        <span class="pull-left" translate>
                            %country.MX
                        </span>
                        <span class="ma-p ma-p--default pull-right" translate>
                            %global.coming_soon.text
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!--              END: WHERE DROPDOWN (MD AND LG SCREEN)             -->


        <!------------------ START: SEARCH (MD AND LG SCREEN) ----------------->
        <div class="ma-header__block ma-header__block__search-wrapper hidden"
             role="search">
            <form class="ma-header__block__search-wrapper__form">
                <div class="ma-header__block__search-wrapper__form__search-bar">
                    <i class="material-icons
                              ma-header__block__btn__icon
                              ma-header__block__search-wrapper__form__search-bar__icon">
                        search
                    </i>
                    <label class="screen-reader-only" for="header-search-form"
                           aria-hidden="true">
                        Where to?
                    </label>
                    <input type="text"
                           class="ma-header__block__search-wrapper__form__search-bar__input"
                           placeholder="Where to?" autocomplete="off"
                           name="location" class="location" value="">
                    <input type="hidden" name="source" value="hdr">
                </div>
            </form>
        </div>
        <!--                  END: SEARCH (MD AND LG SCREEN)                 -->

    </header>
    <!--                    END: HEADER (MD AND LG SCREEN)                   -->

    <script type="text/ng-template" id="headerTooltip.tmpl.html">
      <span translate>%header.join.teacher.tooltip.first_part.text</span>
      <span class="strong strong--primary">
          <span>$340</span>
          <span class="hidden" translate>%global.currency.suffix.text</span>
          <span class="hidden" translate>%global.time.text</span>
      </span>
      <span translate>%header.join.teacher.tooltip.second_part.text</span>
    </script>

</div>
