/*************************/
/*       VARIABLES       */
/*************************/
$createTeacher-padding: 20px;
$createTeacher-block-margin: 20px;
$createTeacher-block-sayHello-label-font-size: 17px;
$createTeacher-mapBlock-height: 300px;

/**********************************************************/
/*                   CREATE TEACHER PAGE                  */
/**********************************************************/

.createTeacherPage {
    &__block {

        .teacher-experience-box {

            &__item-block {
                cursor: pointer;
                padding-bottom: 20px;
                &:hover {
                    background-color: #f5f5f5;
                    cursor: pointer;
                }
            }
        }

    }

    &__map-block {
        height: $createTeacher-mapBlock-height;
    }
}
