/*************************/
/*       VARIABLES       */
/*************************/
$createTeacher-padding: 20px;
$createTeacher-block-margin: 20px;
$createTeacher-block-sayHello-label-font-size: 17px;
$createTeacher-mapBlock-height: 300px;

/**********************************************************/
/*                   CREATE TEACHER PAGE                  */
/**********************************************************/

.createTeacherPage {
    &__block {

        .teacher-experience-box {

            &__item-block {
                cursor: pointer;
                padding-top: 20px;
                &:hover {
                    background-color: #f9f9f9;
                    cursor: pointer;
                }

                &__description {
                    @include text-truncate-multiline($font-size: 17px,
                                                     $line-height: $paragraph-lineHeight,
                                                     $lines-to-show: $paragraph-lines-to-show,
                                                     $excerpt-bg: transparent);
                }
            }
        }

        .teacher-education-box {

            &__item-block {
                cursor: pointer;
                padding-top: 20px;
                &:hover {
                    background-color: #f9f9f9;
                    cursor: pointer;
                }

                &__description {
                    @include text-truncate-multiline($font-size: 17px,
                                                     $line-height: $paragraph-lineHeight,
                                                     $lines-to-show: $paragraph-lines-to-show,
                                                     $excerpt-bg: transparent);
                }
            }
        }

        .teacher-certificate-box {

            &__item-block {
                cursor: pointer;
                padding-top: 20px;
                &:hover {
                    background-color: #f9f9f9;
                    cursor: pointer;
                }

                &__description {
                    @include text-truncate-multiline($font-size: 17px,
                                                     $line-height: $paragraph-lineHeight,
                                                     $lines-to-show: $paragraph-lines-to-show,
                                                     $excerpt-bg: transparent);
                }
            }
        }

    }

    &__map-block {
        height: $createTeacher-mapBlock-height;
    }
}
