<!----------------------------------------------------------------------------->
<!--                             SURVEY MODAL                                -->
<!----------------------------------------------------------------------------->

<div class="ma-box">

    <!--                               TITLE                                 -->
    <!------------------------------------------------------------------------->
    <h4 class="ma-box__title margin-reset">
        <span translate>%modal.survey.title.text</span>
        <div class="ma-box__title__right-block pull-right">
            <i class="material-icons
                      md-18
                      md-dark md-dark--clicked"
                      ng-click="vm.close()">close</i>
        </div>
    </h4>

    <!--                              CONTENT                                -->
    <!------------------------------------------------------------------------->
    <div class="ma-box__content">

        <!------------------- START: SURVEY OPTIONS BLOCK --------------------->
        <section style="position: relative;">

            <! Loading >
            <div class="ma-loading-container centered" ng-show="vm.loading">
                <i class="ma-loading
                          ma-loading--medium-gray
                          fa fa-refresh fa-spin fa-fw fa-3x"></i>
                <span class="sr-only">Loading...</span>
            </div>

            <! Success Message >
            <div ng-if="vm.success"
                 ng-class="{'invisible': vm.loading}"
                 class="row middle-xs center-xs space-4">
                <div class="col-xs-12">
                    <i class="material-icons
                              md-primary
                              md-48
                              space-top-3
                              space-3">flight_takeoff</i>
                    <h3 class="margin-reset space-2" translate>
                        %modal.survey.sent.title.text
                    </h3>
                    <p class="ma-p ma-p--small margin-reset space-2"
                        translate>
                        %modal.survey.sent.description.text
                    </p>
                    <a class="ma-link
                              ma-link--box
                              ma-link--box--small
                              ma-link--box--underline
                              ma-link--box--underline--primary"
                        href="https://twitter.com/waysily">@waysily</a>
                </div>
            </div>

            <! Description text >
            <div ng-if="!vm.success"
                 ng-class="{'invisible': vm.loading}"
                 class="row center-xs space-3">
                <div class="col-xs-12 text-left">
                    <p class="ma-p ma-p--default margin-reset" translate>
                        %modal.survey.description.text
                    </p>
                </div>
            </div>

            <! Survey options list >
            <div ng-if="!vm.success"
                 ng-class="{'invisible': vm.loading}"
                 class="row center-xs space-1">
                <div class="col-xs-12 text-center">

                    <! default options >
                    <div ng-repeat="option in vm.optionsList"
                         ng-click="vm.saveOption(option.id)"
                         class="ma-label
                                ma-label--box
                                ma-label--box--secondary
                                ma-label--box--secondary-hover
                                ma-label--box--block
                                ma-label--box--default
                                ma-label--box--check space-2">
                        {{option | translateFilter: 'feature'}}
                    </div>

                    <! other option - add checked label >
                    <div ng-click="vm.addActive = true"
                         ng-if="!vm.addActive"
                         class="ma-label
                                ma-label--box
                                ma-label--box--alert-secondary
                                ma-label--box--alert-secondary-hover
                                ma-label--box--block
                                ma-label--box--default
                                ma-label--box--check space-2"
                         translate>
                        %modal.survey.add_feature.button.text
                    </div>

                    <! other option - input >
                    <div ng-if="vm.addActive">
                        <div class="ma-label
                                    ma-label--box
                                    ma-label--box--secondary
                                    ma-label--box--block
                                    ma-label--box--default space-2">
                            <input class="ma-label--box__input-to-edit
                                          ma-label--box--secondary__input-to-edit"
                                   ng-class="{'ma-input--invalid': !vm.validate.other.valid}"
                                   type="text" name="otherFeature"
                                   translate
                                   translate-attr-placeholder="%modal.survey.other_option.placeholder.text"
                                   ng-model="vm.other" autofocus="true">
                        </div>
                        <! other option - add button >
                        <button type="button" name="button"
                                ng-click="vm.saveOption(vm.other, true)"
                                class="ma-btn ma-btn--primary
                                       ma-btn--default pull-right space-3"
                                translate>
                            %global.add.button.text
                        </button>
                    </div>
                </div>
            </div>

            <! Help text information >
            <div ng-if="!vm.success"
                 ng-class="{'invisible': vm.loading}"
                 class="row">
                <div class="col-xs-12 text-right">
                    <p class="ma-label
                              ma-label--simple
                              ma-label--simple--primary" translate>
                        %modal.survey.help_text.text
                    </p>
                </div>
            </div>

        </section>
        <!--                   END: SURVEY OPTIONS BLOCK                     -->

    </div>

</div>
