<!----------------------------------------------------------------------------->
<!--                             SURVEY MODAL                                -->
<!----------------------------------------------------------------------------->

<div class="ma-box">

    <!--                              CONTENT                                -->
    <!------------------------------------------------------------------------->
    <div class="ma-box__content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <i class="material-icons
                          md-18
                          md-dark md-dark--clicked
                          pull-right"
                          ng-click="vm.close()">close</i>
            </div>
        </div>

        <!------------------- START: SURVEY OPTIONS BLOCK --------------------->
        <section>

            <! description text >
            <div class="row center-xs space-2">
                <div class="col-xs-12 text-left">
                    <p class="ma-p ma-p--default margin-reset" translate>
                        Siguientes caracteristicas en la lista:
                    </p>
                </div>
            </div>

            <! Survey options list >
            <div class="row center-xs space-2">
                <div class="col-xs-12 text-center">
                    <div class="ma-label
                            ma-label--box
                            ma-label--box--secondary
                            ma-label--box--block
                            ma-label--box--default
                            ma-label--box--check
                            ma-label--box--space5"
                        data-checked="false">
                        Face to Face between travelers and locals
                    </div>
                    <div class="ma-label
                            ma-label--box
                            ma-label--box--secondary
                            ma-label--box--block
                            ma-label--box--default
                            ma-label--box--check
                            ma-label--box--space5"
                        data-checked="false">
                        Be able to create meetups and events
                    </div>
                    <div class="ma-label
                            ma-label--box
                            ma-label--box--secondary
                            ma-label--box--block
                            ma-label--box--default
                            ma-label--box--check
                            ma-label--box--space5"
                        data-checked="false">
                        Include a forum to interchange language information
                    </div>
                    <div class="ma-label
                            ma-label--box
                            ma-label--box--secondary
                            ma-label--box--block
                            ma-label--box--default
                            ma-label--box--check
                            ma-label--box--space5"
                        data-checked="false">
                        Create school groups chats
                    </div>
                </div>
            </div>

        </section>
        <!--                   END: SURVEY OPTIONS BLOCK                     -->

    </div>

</div>
