<!----------------------------------------------------------------------------->
<!--                         STEP 1 SECTION TEMPLATE                         -->
<!----------------------------------------------------------------------------->


<!---------------------------- START: LEFT COLUMN ----------------------------->
<div id="createTeacher-left-column" class="col-md-8">

    <div id="createTeacher-block" class="createTeacherPage__block row">

        <div class="col-md-12">

            <div class="ma-box">

                <div class="ma-box__content">

                    <!---------------- START: BASIC INFO BLOCK ---------------->

                    <form class="form-horizontal
                                 ma-form--horizontal">

                        <!-- First Name Input -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--default">
                            <label class="text-right col-xs-3 col-sm-3"
                                    for="teacher-first-name">First Name</label>
                            <div class="col-xs-9 col-sm-9">
                                <input id="teacher-first-name"
                                        class="ma-input ma-input--default"
                                        type="text"
                                        ng-model="vm.form.teacherData.first_name">
                            </div>
                        </div>

                        <!-- Last Name Input -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--default">
                            <label class="text-right col-xs-3 col-sm-3"
                                   for="teacher-last-name">
                                Last Name
                            </label>
                            <div class="col-xs-9 col-sm-9">
                                <input id="teacher-last-name"
                                       type="text"
                                       ng-model="vm.form.teacherData.last_name"
                                       class="ma-input ma-input--default">
                            </div>
                        </div>

                        <!-- Email Input -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--default">
                            <label class="text-right col-xs-3 col-sm-3"
                                   for="teacher-email">
                                Email
                            </label>
                            <div class="col-xs-9 col-sm-9">
                                <input id="teacher-email"
                                       type="email"
                                       ng-model="vm.form.teacherData.email"
                                       class="ma-input ma-input--default">
                            </div>
                        </div>

                        <!-- Phone Number Input -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--default">
                            <label class="text-right col-xs-3 col-sm-3"
                                   for="teacher-phone-number">
                                Phone Number
                            </label>
                            <div class="col-xs-9 col-sm-9">
                                <input id="teacher-phone-number"
                                       type="text"
                                       ng-model="vm.form.teacherData.phone_number"
                                       placeholder="e.g. +57 3052345678"
                                       class="ma-input ma-input--default">
                            </div>
                        </div>

                        <!-- I am Select Input -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--default">
                            <label class="text-right col-xs-3 col-sm-3"
                                    for="teacherSex">I am</label>
                            <div class="col-xs-9 col-sm-9">
                                <div class="ma-select-container
                                            ma-select-container--default">
                                    <select id="teacher-sex"
                                            class="ma-input ma-select
                                                   ma-select--default"
                                            name="teacher[sex]"
                                            ng-model="vm.form.teacherData.sex">
                                        <option value="M" selected="selected">Male</option>
                                        <option value="F">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Birthday Select Input with Help Text -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--default">
                            <label class="text-right col-xs-3 col-sm-3">Birth Date</label>
                            <div class="col-xs-9 col-sm-9">

                                <!-- Month -->
                                <div class="ma-select-container
                                            ma-select-container--default">
                                    <select id="teacher-month-birthdate"
                                            class="ma-input ma-select
                                                   ma-select--default"
                                            ng-model="vm.form.teacherData.birth_date.month"
                                            ng-options="month | translate for month in vm.listMonths"
                                            name="teacher[month]" class="form-control">
                                            <option value="" disabled selected>
                                                month
                                            </option>
                                    </select>
                                </div>

                                <!-- Day -->
                                <div class="ma-select-container
                                            ma-select-container--default">
                                    <select id="teacher-day-birthdate"
                                            class="ma-input ma-select
                                                   ma-select--default"
                                            ng-model="vm.form.teacherData.birth_date.day"
                                            ng-options="day for day in vm.listDays"
                                            name="teacher[day]" class="form-control">
                                            <option value="" disabled selected>
                                                dd
                                            </option>
                                    </select>
                                </div>

                                <!-- Year -->
                                <div class="ma-select-container
                                            ma-select-container--default">
                                    <select id="teacher-year-birthdate"
                                            class="ma-input ma-select
                                                   ma-select--default"
                                            ng-model="vm.form.teacherData.birth_date.year"
                                            ng-options="year for year in vm.listYears"
                                            name="teacher[year]" class="form-control">
                                            <option value="" disabled selected>
                                                yyyy
                                            </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Where you born Input -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--default">
                            <label class="text-right col-xs-3 col-sm-3"
                                   for="teacher-born">Where you born?</label>
                            <div class="col-xs-9 col-sm-9">
                                <input id="teacher-born"
                                       type="text"
                                       class="ma-input ma-input--default"
                                       ng-model="vm.form.teacherData.born"
                                       placeholder="e.g. Miami, Florida / Lisboa, Portugal">
                            </div>
                        </div>

                        <!-- About me -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--default">
                            <label class="text-right col-xs-3 col-sm-3"
                                   for="teacher-about">Describe Yourself</label>
                            <div class="col-xs-9 col-sm-9">
                                <textarea id="teacher-about"
                                          name="teacher[about]"
                                          class="ma-input ma-input--default ma-textarea"
                                          placeholder="e.g. I enjoy traveling around the world, and I feel good cooking on my free time"
                                          ng-model="vm.form.teacherData.about"
                                          rows="5" cols="40"></textarea>
                            </div>
                        </div>

                    </form>

                    <!--                END: BASIC INFO BLOCK                -->

                </div>

                <div class="ma-box__footer">

                    <div class="row middle-xs">

                        <div class="col-md-4"></div>

                        <div class="col-md-4"></div>

                        <div class="col-md-4 text-right">

                            <a class="ma-btn
                                      ma-btn--primary
                                      ma-btn--medium" href="#"
                                ng-click="vm.goToNext()">
                               Next
                           </a>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<!--                           END: LEFT COLUMN                              -->


<!--------------------------- START: RIGHT COLUMN ----------------------------->
<div id="createTeacher-right-column" class="col-md-4">

    <div class="ma-box space-5">

        <div class="ma-box__content">

            <!----------------- START: HELP AND INFO BLOCK -------------------->
            <div id="createTeacher-info-block" class="row margin-reset text-center">

                <div class="col-md-12">
                    <!-- Help Icon Block -->
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <i class="material-icons md-36 md-primary">
                                 lightbulb_outline
                             </i>
                        </div>
                    </div>
                    <!-- Help Title Block -->
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <h4 class="hidden">Muestrale al mundo quien eres</h4>
                            <h4>Show the world who you are</h4>
                        </div>
                    </div>
                    <!-- Help Text Block -->
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <p id="teacher-about-me-EN-text" class="ma-p ma-p--default">
                                Waysily focuses on creating real connections.
                                Describe in detail helps other users to know you much better.
                                Share with them your tastes, trips, anecdotes or hobbies.
                                Tell them what it would be like to have you as their teacher,
                                you can even go into more personal aspects: Is there any
                                particular phrase that defines your way of teaching?
                            </p>
                            <p id="teacher-about-me-ES-text" class="ma-p ma-p--default hidden">
                                Waysily se centra en crear conexiones reales. Describirte en
                                detalle ayuda los demás usuarios a conocerte mucho mejor.
                                Comparte con ellos tus gustos, viajes, anecdotas o pasatiempos.
                                Cuéntales cómo sería tenerte como su profesor, incluso puedes
                                entrar en aspectos más personales: ¿Hay alguna frase en especial que defina tu forma de enseñar?
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!--                END: HELP AND INFO BLOCK                     -->

        </div>

    </div>

</div>
<!--                          END: RIGHT COLUMN                              -->
