<!----------------------------------------------------------------------------->
<!--                            USER LOG IN MODAL                            -->
<!----------------------------------------------------------------------------->

<div class="ma-box">

    <!--                              CONTENT                                -->
    <!------------------------------------------------------------------------->
    <div class="ma-box__content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <i class="material-icons
                          md-18
                          md-dark md-dark--clicked
                          pull-right"
                          ng-click="vm.close()">close</i>
            </div>
        </div>

        <! Global Validate Error Message >
        <div class="row ma-large-message
                    ma-large-message--alert space-3 space-top-3"
             ng-show="!vm.validate.globalValidate.valid">
            <div class="col-md-12 text-center">
                <p class="ma-p ma-p--default ma-p--alert margin-reset">
                    <span>{{vm.validate.globalValidate.message}}</span>
                </p>
            </div>
        </div>

        <!------------------------ START: LOG IN BLOCK ------------------------>
        <section>

            <! Logo >
            <div class="row center-xs space-2">
                <div class="col-xs-12 text-center">
                    <i class="ma-logo
                              ma-logo--primary-short
                              ma-logo--primary-short--default"></i>
                </div>
            </div>

            <! Welcome message >
            <div class="row center-xs space-3">
                <div class="col-xs-12 text-center">
                    <h2 class="margin-reset" translate>
                        %modal.login.title.text
                    </h2>
                </div>
            </div>

            <! LogIn Form >
            <div class="row center-xs space-2">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="row middle-xs">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form class="ma-form ma-form--basic">

                                <! Email input >
                                <div class="form-group ma-form-group">
                                    <label class="sr-only"
                                           for="emailAccountInput"
                                           translate>
                                        %global.email.label.text
                                    </label>
                                    <input id="emailAccountInput"
                                           type="email"
                                           ng-model="vm.form.email"
                                           ng-class="{'ma-input--invalid': !vm.validate.email.valid}"
                                           class="ma-input
                                                  ma-input--large
                                                  ma-input--block"
                                           translate
                                           translate-attr-placeholder="%global.email.label.text">
                                    <p class="ma-p ma-p--small ma-p--alert pull-right"
                                       ng-show="!vm.validate.email.valid">
                                       <span>{{vm.validate.email.message}}</span>
                                    </p>
                                </div>

                                <! Password input >
                                <div class="form-group ma-form-group">
                                    <label class="sr-only"
                                           for="passwordAccountInput"
                                           translate>
                                        %modal.login.form.password.text
                                    </label>

                                    <input id="passwordAccountInput" type="password"
                                           ng-model= "vm.form.password"
                                           class="ma-input
                                                  ma-input--large
                                                  ma-input--block"
                                           translate
                                           translate-attr-placeholder="%modal.login.form.password.text">
                                    <p class="ma-p ma-p--small ma-p--alert pull-right"
                                       ng-show="!vm.validate.password.valid">
                                       <span>{{vm.validate.password.message}}</span>
                                    </p>
                                </div>

                                <! Can't log in link >
                                <a class="ma-link
                                          ma-link--simple
                                          ma-link--simple--small
                                          ma-link--simple--primary
                                          pull-right
                                          space-1"
                                   ng-click="vm._openForgotPasswordModal()"
                                   href translate>
                                   %modal.login.forget_password.link.text
                                </a>

                                <! Log in button >
                                <button class="ma-btn
                                                ma-btn--primary
                                                ma-btn--large
                                                ma-btn--block text-capitalize"
                                        ng-click="vm.login()"
                                        translate>
                                    %global.login.label.text
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <! Button help text >
            <div class="row center-xs">
                <div class="ma-label
                            ma-label--simple
                            ma-label--simple--default
                            ma-label--simple--primary" translate>
                    %landing.get_user.help_text.text
                </div>
            </div>


            <div class="ma-separator-dashed-image space-top-5 space-3"></div>


            <! Sign up section >
            <div class="row middle-xs">
                <div class="col-xs-7 text-left">
                    <! Sign up label >
                    <p class="ma-p ma-p--default
                              margin-reset space-left-2"
                       translate>
                        %modal.login.help_text.signup_button.text
                    </p>
                </div>
                <div class="col-xs-5 text-right">
                    <! Sign up button >
                    <button class="ma-btn
                                   ma-btn--secondary
                                   ma-btn--default pull-right text-capitalize"
                            ng-click="vm._openSignUpModal()"
                            translate>
                        %global.signup.label.text
                    </button>
                </div>
            </div>


        </section>
        <!--                      END: SIGN UP BLOCK                         -->

    </div>

</div>
