<!----------------------------------------------------------------------------->
<!--                         STEP 3 SECTION TEMPLATE                         -->
<!----------------------------------------------------------------------------->


<!---------------------------- START: LEFT COLUMN ----------------------------->
<div id="createTeacher-language-left-column" class="col-md-8">

    <div id="createTeacher-block"
         class="createTeacherPage__block row">

        <div class="col-md-12">

            <div class="ma-box">

                <h4 class="ma-box__title margin-reset">
                    Step3: What languages do you dominate?
                </h4>

                <div class="ma-box__content">

                    <!---------------- START: LANGUAGES INFO BLOCK ------------>

                    <form class="ma-form ma-form--basic">

                        <!-- Native Languages Box -->
                        <div class="form-group ma-form-group">
                            <label for="teacher-native-languages" style="color: rgba(118, 118, 118, 0.72);
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;">Your native languages</label>
                            <div id="teacher-native-languages"
                                 class="text-left ma-labels-box ma-labels-box--dashed">
                                 <div class="ma-label ma-label--box
                                             ma-label--box--secondary
                                             ma-label--box--default
                                             ma-label--box--default--with-icon
                                             ma-label--box--space2"
                                      ng-repeat="language in vm.form.native">
                                     {{language.value}}
                                     <i class="ma-label--box--default--with-icon__icon
                                                   material-icons"
                                        ng-click="vm._removeLanguage(language.key, 'native')">clear</i>
                                 </div>
                            </div>
                            <div class="row margin-reset">
                                <div class="col-sm-8 padding-reset"></div>
                                <div class="col-sm-4 padding-reset">
                                    <a class="ma-link ma-link--box
                                              ma-link--box--primary
                                              space-top-1 pull-right"
                                       href="#"
                                       ng-click="vm._addNewLanguages('native')">
                                        + Add More
                                    </a>
                                </div>
                            </div>
                        </div>


                        <!-- Teach Languages Box -->
                        <div class="form-group ma-form-group">
                            <label for="teacher-teach-languages" style="color: rgba(118, 118, 118, 0.72);
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;">
                                Languages you teach
                            </label>
                            <div class="text-left ma-labels-box ma-labels-box--dashed">
                                <div class="ma-label ma-label--box
                                            ma-label--box--secondary
                                            ma-label--box--default
                                            ma-label--box--default--with-icon
                                            ma-label--box--space2"
                                     ng-repeat="language in vm.form.teach">
                                    {{language.value}}
                                    <i class="ma-label--box--default--with-icon__icon
                                                  material-icons"
                                       ng-click="vm._removeLanguage(language.key, 'teach')">clear</i>
                                </div>
                            </div>
                            <div class="row margin-reset">
                                <div class="col-sm-8 padding-reset"></div>
                                <div class="col-sm-4 padding-reset">
                                    <a class="ma-link ma-link--box
                                              ma-link--box--primary
                                              space-top-1 pull-right"
                                       href="#"
                                       ng-click="vm._addNewLanguages('teach')">
                                        + Add More
                                    </a>
                                </div>
                            </div>
                        </div>


                        <!-- Learn Languages Box -->
                        <div class="form-group ma-form-group">
                            <label for="teacher-learn-languages" style="color: rgba(118, 118, 118, 0.72);
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;">
                                Languages you speak or learn
                            </label>
                            <div class="text-left ma-labels-box ma-labels-box--dashed">
                                <div class="ma-label ma-label--box
                                            ma-label--box--secondary
                                            ma-label--box--default
                                            ma-label--box--default--with-icon
                                            ma-label--box--space2"
                                     ng-repeat="language in vm.form.learn">
                                    {{language.value}}
                                    <i class="ma-label--box--default--with-icon__icon
                                                  material-icons"
                                       ng-click="vm._removeLanguage(language.key, 'learn')">clear</i>
                                </div>
                            </div>
                            <div class="row margin-reset">
                                <div class="col-sm-8 padding-reset"></div>
                                <div class="col-sm-4 padding-reset">
                                    <a class="ma-link ma-link--box
                                              ma-link--box--primary
                                              space-top-1 pull-right"
                                       href="#"
                                       ng-click="vm._addNewLanguages('learn')">
                                        + Add More
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="ma-box__footer">

                    <div class="row middle-xs">

                        <div class="col-md-4 text-left">

                            <button class="ma-btn
                                           ma-btn--transparent
                                           ma-btn--medium
                                           ma-btn--withIcon"
                                      ng-click="vm.goToBack()">
                                <i class="material-icons md-18 md-dark">
                                    keyboard_backspace
                                </i>
                                Back
                            </button>

                        </div>

                        <div class="col-md-4"></div>

                        <div class="col-md-4 text-right">

                            <button class="ma-btn
                                           ma-btn--primary
                                           ma-btn--large"
                                    ng-click="vm.goToNext()">
                               Next
                           </button>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<!--                           END: LEFT COLUMN                              -->


<!--------------------------- START: RIGHT COLUMN ----------------------------->
<div id="createTeacher-right-column" class="col-md-4">

    <div class="ma-box space-5">

        <div class="ma-box__content">

            <!-------- START: HELP AND INFO BLOCK --------->
            <div id="createTeacher-info-block"
                 class="row margin-reset text-center">

                 <div class="col-md-12">
                     <!-- Help Icon Block -->
                     <div class="row">
                         <div class="col-md-12 text-right padding-reset">
                             <i class="material-icons md-36 md-primary">
                                 lightbulb_outline
                             </i>
                         </div>
                     </div>
                     <!-- Help Title Block -->
                     <div class="row">
                         <div class="col-md-12 text-left">
                             <h4>Recoge los datos</h4>
                         </div>
                     </div>
                     <!-- Help Text Block -->
                     <div class="row">
                         <div class="col-md-12 text-left">
                             <p class="ma-p ma-p--default">
                                 Este bloque es para explicar de que trata ese campo de texto, es necesario escribir corto y consiso.
                             </p>
                         </div>
                     </div>
                 </div>

            </div>
            <!--        END: HELP AND INFO BLOCK         -->

        </div>

    </div>

</div>
<!--                          END: RIGHT COLUMN                              -->
