<!----------------------------------------------------------------------------->
<!--                         STEP 2 SECTION TEMPLATE                         -->
<!----------------------------------------------------------------------------->


<!---------------------------- START: LEFT COLUMN ----------------------------->
<div id="createTeacher-location-left-column" class="col-md-8">

    <div id="createTeacher-block"
         class="createTeacherPage__block row">

        <div class="col-md-12">

            <div class="ma-box">

                <h4 class="ma-box__title margin-reset">
                    Step 2 -  Where are you located?
                </h4>

                <div class="ma-box__content">

                    <!---------------- START: LOCATION INFO BLOCK ------------->

                    <form class="form-horizontal
                                 ma-form--horizontal">

                        <!-- Country Select List -->
                        <div class="form-group
                                 ma-form-group
                                 ma-form-group--large">
                            <label class="text-right col-xs-3 col-sm-3"
                                    for="teacher-country-location">Country</label>
                            <div class="col-xs-9 col-sm-9">
                                <div class="ma-select-container
                                            ma-select-container--large">
                                    <select id="teacher-country-location"
                                            class="ma-input ma-select
                                                   ma-select--large"
                                            ng-model="vm.countryObject"
                                            ng-options="country.value | translate for country in vm.listCountries track by country.code"
                                            name="teacher[country]" class="form-control">
                                            <option value="" disabled selected>
                                                Select country
                                            </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- City Input -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--large">
                            <label class="text-right col-xs-3 col-sm-3"
                                   for="teacher-city-location">City</label>
                            <div class="col-xs-9 col-sm-9">
                                <input id="teacher-city-location"
                                       type="text"
                                       ng-model="vm.form.cityLocation"
                                       class="ma-input ma-input--large">
                            </div>
                        </div>

                        <!-- State Input -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--large">
                            <label class="text-right col-xs-3 col-sm-3"
                                   for="teacher-state-location">State</label>
                            <div class="col-xs-9 col-sm-9">
                                <input id="teacher-state-location"
                                       type="text"
                                       ng-model="vm.form.stateLocation"
                                       class="ma-input ma-input--large">
                            </div>
                        </div>

                        <!-- Zip Code Input -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--large">
                            <label class="text-right col-xs-3 col-sm-3"
                                   for="teacher-zipcode-location">Zip Code</label>
                            <div class="col-xs-9 col-sm-9">
                                <input id="teacher-zipcode-location"
                                       type="text"
                                       ng-model="vm.form.zipCodeLocation"
                                       class="ma-input ma-input--large">
                            </div>
                        </div>

                        <!-- Street Address Input -->
                        <div class="form-group
                                    ma-form-group
                                    ma-form-group--large">
                            <label class="text-right col-xs-3 col-sm-3"
                                   for="teacher-address-location">Street Address</label>
                            <div class="col-xs-9 col-sm-9">
                                <input id="teacher-address-location"
                                       type="text"
                                       placeholder="House name/number + street/road"
                                       ng-model="vm.form.addressLocation"
                                       class="ma-input ma-input--large">
                            </div>
                        </div>

                    </form>

                    <hr>

                    <!---------------- START: LOCATION MAP BLOCK -------------->

                    <div id="createTeacher-map-block"
                         class="row">

                        <div class="col-md-12" style="height: 300px;">
                            <div class="location-map location-map--border">
                                <ma-map map-config="vm.mapConfig"></ma-map>
                            </div>
                        </div>

                    </div>

                    <p class="ma-p ma-p--large space-top-3">
                        Drag the marker to change location.
                    </p>

                    <!--                END: LOCATION MAP BLOCK              -->

                </div>

                <div class="ma-box__footer">

                    <div class="row middle-xs">

                        <div class="col-md-4 text-left">

                            <button class="ma-btn
                                           ma-btn--transparent
                                           ma-btn--medium
                                           ma-btn--withIcon"
                                      ng-click="vm.goToBack()">
                                <i class="material-icons md-18 md-dark">
                                    keyboard_backspace
                                </i>
                                Back
                            </button>

                        </div>

                        <div class="col-md-4"></div>

                        <div class="col-md-4 text-right">

                            <button class="ma-btn
                                           ma-btn--primary
                                           ma-btn--large"
                                    ng-click="vm.goToNext()">
                               Next
                           </button>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<!--                           END: LEFT COLUMN                              -->


<!--------------------------- START: RIGHT COLUMN ----------------------------->
<div id="createTeacher-right-column" class="col-md-4">

    <div class="ma-box space-5">

        <div class="ma-box__content">

            <!-------- START: HELP AND INFO BLOCK --------->
            <div id="createTeacher-info-block"
                 class="row margin-reset text-center">

                 <div class="col-md-12">
                     <!-- Help Icon Block -->
                     <div class="row">
                         <div class="col-md-12 text-right padding-reset">
                             <i class="material-icons md-36 md-primary">
                                 lightbulb_outline
                             </i>
                         </div>
                     </div>
                     <!-- Help Title Block -->
                     <div class="row">
                         <div class="col-md-12 text-left">
                             <h4>Recoge los datos</h4>
                         </div>
                     </div>
                     <!-- Help Text Block -->
                     <div class="row">
                         <div class="col-md-12 text-left">
                             <p class="ma-p ma-p--default">
                                 Este bloque es para explicar de que trata ese campo de texto, es necesario escribir corto y consiso.
                             </p>
                         </div>
                     </div>
                 </div>

            </div>
            <!--        END: HELP AND INFO BLOCK         -->

        </div>

    </div>

</div>
<!--                          END: RIGHT COLUMN                              -->
