/*************************/
/*       VARIABLES       */
/*************************/
$studentLanding-padding: 20px;
$studentLanding-block-margin: 20px;

/**********************************************************/
/*                   USER PROFILE PAGE                    */
/**********************************************************/

.studentLandingPage {
    padding-top: $studentLanding-padding;

    &__block {
        margin-bottom: $studentLanding-block-margin;
    }
}
