/**********************************************************/
/*                        BUTTONS                         */
/**********************************************************/

.ma-btn {
    display: inline-block;
    margin-bottom: 0;
    -webkit-border-radius: $button-radius;
    -moz-border-radius: $button-radius;
    border-radius: $button-radius;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    line-height: $button-lineheight;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    transition: background 300ms ease-out;
    padding: map-get($button-paddings, default);
    font-size: map-get($button-font-sizes, default);


    ///BUTTON_SIZE

    &--small {
        padding: map-get($button-paddings, small);
        font-size: map-get($button-font-sizes, small);
    }

    &--large {
        padding: map-get($button-paddings, large);
        font-size: map-get($button-font-sizes, large);
    }

    &--block {
        display: block;
        white-space: normal;
        width: $button-block-width;
    }


    ///BUTTON_COLOR

    &--primary {
        background-color: $button-primary-background;
        color: $button-font-color;
        border-bottom-color: $button-primary-border-color;

        &:hover:enabled, &:focus {
            background-color: $button-primary-background-hover;
            text-decoration: none;
            color: $button-font-color;
        }
    }

    &--secondary {
        background: 0 0;
        border: $button-secondary-border;
        color: $button-primary-background;

        &:hover:enabled, &:focus {
            background-color: $button-secondary-color;
            color: $button-font-color;
            border-bottom-color: $button-secondary-border-color;
            text-decoration: none;
        }
    }

}

.ma-btn[disabled] {
    opacity: $button-opacity-disabled;
}
