/**********************************************************/
/*                        HEADER                          */
/**********************************************************/

.ma-header {
    height: $header-height;
    background: $header-background;
    border-bottom: $header-border;
    display: block;
    position: fixed;
    top: $header-top;
    left: $header-left;
    width: $header-width;
    z-index: $header-index;

    &--small{

    }

    &--regular {

    }

    //header block
    &__block:nth-of-type(1)
    {
        border-left: $header-block-border-solid;

        &:hover {
            background-color: $header-block-logo-background-hover;
        }

    }

    &__block {
        height: $header-block-height;
        line-height: $header-block-lineheight;
        border-left: $header-block-border-dashed;
        position: relative;

        &:hover {
            background-color: $header-block-background-hover;
        }

        &__btn {
            display: block;
            padding: $header-block-btn-padding;
            cursor: pointer;

            &__ma-logo {
                position: relative;
                top: $header-block-btn-logo-top;
            }

            &__icon {
                display: inline-block;
                position: relative;
                width: $header-block-btn-icon-size;
                height: $header-block-btn-icon-size;
                background-color: $header-block-btn-icon-background;
                background-repeat: no-repeat;
                vertical-align: baseline;

                &__ma-photo {
                    top: $header-block-btn-photo-top;

                    img {
                        vertical-align: top;
                    }
                }

            }

        }
    }
}
