/**********************************************************/
/*                        HEADER                          */
/**********************************************************/

.ma-header {
    height: $header-height;
    background: $header-background;
    border-bottom: $header-border;
    display: block;
    position: fixed;
    top: $header-top;
    left: $header-left;
    width: $header-width;
    z-index: $header-index;

    &--small{
        position: relative;

    }


    //header block
    &__block:nth-of-type(1)
    {
        border-left: $header-block-border-solid;
    }

    &__block {
        height: $header-block-height;
        line-height: $header-block-lineheight;
        border-left: $header-block-border-dashed;
        position: relative;

        &__btn {
            display: block;
            padding: $header-block-btn-padding;
            cursor: pointer;

            &:hover {
                background-color: $header-block-background-hover;
                text-decoration: none;
            }

            &__ma-logo {
                position: relative;
                top: $header-block-btn-logo-top;
            }

            &__icon {
                display: inline-block;
                position: relative;
                width: $header-block-btn-icon-size;
                height: $header-block-btn-icon-size;
                background-color: $header-block-btn-icon-background;
                background-repeat: no-repeat;
                vertical-align: baseline;
                top: $header-block-btn-icon-top;
                color: $header-block-btn-icon-font-color;

                &__ma-photo {
                    top: $header-block-btn-photo-top;

                    img {
                        vertical-align: top;
                    }
                }

            }

        }

        &__logo-wrapper {
            &:hover {
                background-color: $header-block-logo-background-hover;
            }
        }

        /***********************************************/
        /*                  SEARCH BAR                 */
        /***********************************************/

        &__search-wrapper {
            padding-top: $header-search-wrapper-paddingtop;
            display: table-cell;
            width: $header-search-wrapper-width;

            &__form {
                margin: $header-search-form-margin;
                position: relative;
                z-index: $header-search-form-index;

                &__search-bar {
                    position: relative;

                    &__icon {
                        position: absolute;
                        top: $header-search-bar-icon-top;
                        left: $header-search-bar-icon-left;
                        z-index: $header-search-bar-icon-index;
                    }

                    &__input {
                        height: auto;
                        width: $header-search-input-width;
                        padding: $header-search-input-padding;
                        border: $header-search-input-border;
                        outline: $header-search-input-outline;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        font-size: $header-search-input-font-size;
                    }
                }
            }
        }

    }

}
