/**********************************************************/
/*                         ICONS                          */
/**********************************************************/
///MATERIAL DESIGN ICONS
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  /* Rules for sizing the icon. */
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-30 { font-size: 30px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
  &.md-60 { font-size: 60px; }
  &.md-72 { font-size: 72px; }

  /* Rules for using icons as black on a light background. */
  &.md-primary {
      color: map-get($main-palette, primary);

      &--clicked {
          &:hover {
            cursor: pointer;
            color: shade(map-get($main-palette, primary), 100);
            font-weight: bold;
          }
      }

      &.md-inactive { opacity: 0.7; }
  }

  /* Rules for using icons as black on a light background. */
  &.md-dark {
      color: rgba(0, 0, 0, 0.54);

      &--clicked {
          &:hover {
            cursor: pointer;
            color: shade(rgba(0, 0, 0, 0.54), 100);
            font-weight: bold;
          }
      }

      &.md-inactive { color: rgba(0, 0, 0, 0.26); }
  }


  /* Rules for using icons as white on a dark background. */
  &.md-light {
      color: rgba(255, 255, 255, 1);

      &--clicked {
          &:hover {
            cursor: pointer;
            color: shade(rgba(255, 255, 255, 1), 100);
            font-weight: bold;
          }
      }

      &.md-inactive { color: rgba(255, 255, 255, 0.3); }
  }

}


/********************** END - ICONS ***********************/



/**********************************************************/
/*                    ICONS WITH COUNTER                  */
/**********************************************************/

.ma-icon-container {
    position: relative;

    &__count {
        display:inline-block;
        top: -5px;
        left: 14px;
        right: auto;
        position: absolute;
        font-style: normal;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        display: inline-block;

        /// COUNT COLOR

        &--primary {
            background-color: map-get($main-palette, primary);
            color: $white;
            border: 2px solid map-get($main-palette, primary);
        }

        &--secondary {
            background-color: $white;
            color: map-get($main-palette, primary);
            border: 2px solid map-get($main-palette, primary);
        }

        &--alert {
            background-color: $white;
            color: map-get($main-palette, alert);
            border: 2px solid map-get($main-palette, alert);
        }

        /// COUNT SIZE

        &--tiny {
            padding: 0px 4px;
            line-height: 13px;
            font-size: 10px;
        }

        &--small {
            padding: 3px 6px;
            line-height: 11px;
            font-size: 10px;
        }

        &--default {
            padding: 4px 7px;
            line-height: 12px;
            font-size: 12px;
        }

    }
}


/********************** END - ICONS ***********************/
