/**********************************************************/
/*                         ICONS                          */
/**********************************************************/
///MATERIAL DESIGN ICONS
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  /* Rules for sizing the icon. */
  &.md-12 { font-size: 12px; }
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-30 { font-size: 30px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
  &.md-60 { font-size: 60px; }
  &.md-72 { font-size: 72px; }

  /// ICONS COLOR
  &.md-primary {
      color: map-get($main-palette, primary);

      &--clicked {
          &:hover {
            cursor: pointer;
            color: map-get($main-palette, secondary);
            font-weight: bold;
          }
      }

      &.md-inactive { opacity: 0.7; }
  }

  &.md-alert {
      color: map-get($main-palette, alert);

      &--clicked {
          &:hover {
            cursor: pointer;
            color: shade(map-get($main-palette, alert), 100);
            font-weight: bold;
          }
      }

      &.md-inactive { opacity: 0.7; }
  }

  &.md-dark {
      color: rgba(0, 0, 0, 0.54);

      &--clicked {
          &:hover {
            cursor: pointer;
            color: shade(rgba(0, 0, 0, 0.54), 100);
            font-weight: bold;
          }
      }

      &.md-inactive { color: rgba(0, 0, 0, 0.26); }
  }

  &.md-light {
      color: rgba(255, 255, 255, 1);

      &--clicked {
          &:hover {
            cursor: pointer;
            color: shade(rgba(255, 255, 255, 1), 100);
            font-weight: bold;
          }
      }

      &.md-inactive { color: rgba(255, 255, 255, 0.3); }
  }

}


/********************** END - ICONS ***********************/



/**********************************************************/
/*                     ICONS CONTAINER                    */
/**********************************************************/
//TODO: Pasar a variables
.ma-icon-container {
    position: relative;
    text-align: center;

    /// WRAP COLOR
    &--primary {
        background-color: #00b592;
        color: $white;
        border: 2px solid #00b592;
    }

    &--secondary {
        border: 2px solid #00b592;
        color: #00b592;
        background-color: $white;
    }

    &--alert {
        background-color: map-get($main-palette, alert);
        border: 2px solid map-get($main-palette, alert);
        color: $white;
    }

    &--alert-secondary {
        background-color: $white;
        border: 2px solid map-get($main-palette, alert);
        color: map-get($main-palette, alert);
    }

    &--white {
        background-color: $white;
        border: 2px solid $white;
        color: map-get($main-palette, primary);
    }

    &--transparent {
        background-color: transparent;
        border: 0 hidden transparent;
    }

    /// WRAP SIZE
    &--small {
        width: 25px;
        height: 25px;

        &__icon {
            line-height: 22px;
            font-size: 16px;
        }
    }

    &--default {
        width: 35px;
        height: 35px;

        &__icon {
            line-height: 31px;
            font-size: 22px;
        }
    }

    &--medium {
        width: 45px;
        height: 45px;

        &__icon {
            line-height: 45px;
            font-size: 30px;
        }
    }

    &--large {
        width: 55px;
        height: 55px;

        &__icon {
            line-height: 52px;
            font-size: 35px;
        }
    }

    // ICONS WITH COUNTER
    &__count {
        display:inline-block;
        top: $icon-container-count-top;
        left: $icon-container-count-left;
        right: auto;
        position: absolute;
        font-style: normal;
        font-weight: bold;
        -webkit-border-radius: $icon-container-count-radius;
        -moz-border-radius: $icon-container-count-radius;
        border-radius: $icon-container-count-radius;
        display: inline-block;
        z-index: 1;

        /// COUNT COLOR

        &--primary {
            background-color: $icon-container-count-background-primary;
            color: $icon-container-count-font-color-primary;
            border: $icon-container-count-border-primary;
        }

        &--secondary {
            background-color: $icon-container-count-background-secondary;
            color: $icon-container-count-font-color-secondary;
            border: $icon-container-count-border-secondary;
        }

        &--alert {
            background-color: $icon-container-count-background-alert;
            color: $icon-container-count-font-color-alert;
            border: $icon-container-count-border-alert;
        }

        /// COUNT SIZE

        &--tiny {
            padding: map-get($icon-container-count-paddings, tiny);
            line-height: map-get($icon-container-count-lineHeight, tiny);
            font-size: map-get($icon-container-count-font-sizes, tiny);
        }

        &--small {
            padding: map-get($icon-container-count-paddings, small);
            line-height: map-get($icon-container-count-lineHeight, small);
            font-size: map-get($icon-container-count-font-sizes, small);
        }

        &--default {
            padding: map-get($icon-container-count-paddings, default);
            line-height: map-get($icon-container-count-lineHeight, default);
            font-size: map-get($icon-container-count-font-sizes, default);
        }

    }


    /// BADGE ICON
    &__badge {
        background-image: url($badge-path);
        background-repeat: no-repeat;
        display: inline-block;

        /// BADGE SIZES

        &--small {
            width: 25px;
            height: 25px;
            background-size: 25px 25px;
        }

        &--default {
            width: 35px;
            height: 35px;
            background-size: 35px 35px;
        }

        &--medium {
            width: 45px;
            height: 45px;
            background-size: 45px 45px;
        }

        &--large {
            width: 55px;
            height: 55px;
            background-size: 55px 55px;
        }
    }

}


/********************** END - ICONS ***********************/
