/**********************************************************/
/*                         LABELS                         */
/**********************************************************/

.ma-label {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    line-height: $label-lineheight;
    cursor: default;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;


    /*               LABEL BOX               */
    /*****************************************/

    &--box {
        -webkit-border-radius: $label-radius;
        -moz-border-radius: $label-radius;
        border-radius: $label-radius;
        border: 1px solid;
        text-align: center;
        font-weight: bold;
        padding: map-get($label-box-paddings, default);
        font-size: map-get($label-font-sizes, default);

        ///LABEL BOX SIZE

        &--small {
            padding: map-get($label-box-paddings, small);
            font-size: map-get($label-font-sizes, small);

            &--with-icon {
                padding: 5px 7px 4px 12px;

                &__icon {
                    vertical-align: text-top;
                    cursor: pointer;
                    margin-left: 10px;
                    font-size: 15px;
                    &:hover {
                        color: map-get($main-palette, secondary);
                    }
                }
            }
        }

        &--default {
            padding: map-get($label-box-paddings, default);
            font-size: map-get($label-font-sizes, default);

            &--with-icon {
                padding: 7px 9px 7px 21px;

                &__icon {
                    vertical-align: text-top;
                    cursor: pointer;
                    margin-left: 12px;
                    font-size: 18px;
                    &:hover {
                        color: map-get($main-palette, secondary);
                    }
                }
            }
        }

        &--large {
            padding: map-get($label-box-paddings, large);
            font-size: map-get($label-font-sizes, large);

            &--with-icon {
                padding: 9px 12px 9px 27px;

                &__icon {
                    vertical-align: text-top;
                    cursor: pointer;
                    margin-left: 14px;
                    font-size: 19px;
                    &:hover {
                        color: map-get($main-palette, secondary);
                    }
                }
            }
        }

        ///LABEL BOX COLOR

        &--primary {
            background: 0 0;
            background-color: $label-box-primary-background;
            color: $label-box-primary-font-color;
        }

        &--secondary {
            background: 0 0;
            border: $label-box-secondary-border;
            color: $label-box-secondary-font-color;
        }

        ///SPACE BETWEEN LABELS

        &--space2 {
            margin: 2px;
        }

        &--space5 {
            margin: 5px;
        }

        ///WITH ICON

        /*&--with-icon {
            padding: 7px 9px 7px 21px;

            &__icon {
                vertical-align: text-top;
                cursor: pointer;
                margin-left: 12px;
                font-size: 18px;
            }
        }*/

    }


    /*              SIMPLE LABEL             */
    /*****************************************/

    &--simple {
        letter-spacing: 0;
        font-style: normal;
        margin: 0;

        ///SIMPLE LABEL SIZE

        &--small {
            font-size: map-get($label-font-sizes, small);
        }

        &--default {
            font-size: map-get($label-font-sizes, default);
        }

        &--large {
            font-size: map-get($label-font-sizes, large);
        }

        ///SIMPLE LABEL COLOR

        &--gray {
            color: $label-simple-color-gray;
        }

        &--primary {
            color: $label-simple-color-primary;
        }
    }

}


/* LABELS CONTAINER */
.ma-labels-box {
    &--dashed {
        border: 2px dashed $light-gray;
        min-height: 100px;
        padding: 5px;
    }
}
