/**********************************************************/
/*                       PARAGRAPHS                       */
/**********************************************************/

.ma-p {
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    color: $paragraph-font-color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    &__bold {
        color: $paragraph-bold-font-color;
    }

    &--small {
        font-size: 14px;
    }

    &--default {
        font-size: 17px;
    }

    &--large {
        font-size: 20px;
    }
}
