<!--------------------------------------------->
<!--                 FOOTER                  -->
<!--------------------------------------------->

<div class="ma-footer">

    <!--                            START: FOOTER                            -->
    <!------------------------------------------------------------------------->
    <footer>
        <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6 text-left">
                <ul class="ma-footer__options-list">
                    <li class="ma-footer__options-list__option">
                        <a class="ma-link ma-link--simple
                                  ma-link--simple--small"
                           href="#">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                <p class="ma-footer__copyright ma-p ma-p--small margin-reset">
                    © 2016 <strong>Waysily</strong>. All rights reserved.
                </p>
            </div>

        </div>
    </footer>
    <!--                            END: FOOTER                              -->

</div>
