<!--------------------------------------------->
<!--                 FOOTER                  -->
<!--------------------------------------------->

<div class="ma-footer">

    <!--                            START: FOOTER                            -->
    <!------------------------------------------------------------------------->

    <footer>

        <div class="row hidden">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <h3 style="color:#555;" translate>
                            %footer.contact_us.title.text
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <div class="center-block" style="display: block;width:250px;">
                            <a class="ma-link
                                      ma-link--simple
                                      ma-link--simple--small
                                      ma-link--simple--withIcon"
                               style="display:block;"
                               href="mailto:help@waysily.com">
                                <i class="material-icons md-18 md-dark">
                                    mail_outline
                                </i>
                                help@waysily.com
                            </a>
                            <a class="ma-link
                                      ma-link--simple
                                      ma-link--simple--small
                                      ma-link--simple--withIcon"
                               style="display:block;"
                               target="_blank"
                               href="http://www.twitter.com/waysily_help">
                                <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                                @waysily_help
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row middle-xs">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
                <i class="ma-logo
                          ma-logo--primary-short"></i>
                <!-- Facebook Like button -->
                <div class="fb-like" data-href="https://www.facebook.com/waysily" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                <!-- Twitter button -->
                <a href="https://twitter.com/waysily"
                   class="twitter-follow-button"
                   data-show-count="false">Follow @waysily
                </a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                <p class="ma-footer__copyright ma-p ma-p--small margin-reset">
                    Made with <i class="material-icons md-12 md-alert">favorite</i> by
                    <a class="ma-link ma-link--box ma-link--box--small ma-link--box--primary" href="https://twitter.com/seruda" target="_blank">@seruda</a> & <a class="ma-link ma-link--box ma-link--box--small ma-link--box--primary" href="https://twitter.com/rosa7082" target="_blank">@rosa7082</a>
                </p>
            </div>
        </div>

    </footer>

    <!--                            END: FOOTER                              -->

</div>
