<!--------------------------------------------->
<!--                 FOOTER                  -->
<!--------------------------------------------->

<div class="ma-footer">

    <!--                            START: FOOTER                            -->
    <!------------------------------------------------------------------------->

    <footer>

        <div class="row hidden">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <h3 style="color:#555;" translate>
                            %footer.contact_us.title.text
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <div class="center-block" style="display: block;width:250px;">
                            <a class="ma-link
                                      ma-link--simple
                                      ma-link--simple--small
                                      ma-link--simple--withIcon"
                               style="display:block;"
                               href="mailto:help@waysily.com"
                               rel="me">
                                <i class="material-icons md-18 md-dark">
                                    mail_outline
                                </i>
                                help@waysily.com
                            </a>
                            <a class="ma-link
                                      ma-link--simple
                                      ma-link--simple--small
                                      ma-link--simple--withIcon"
                               style="display:block;"
                               target="_blank"
                               href="http://www.twitter.com/waysily_help"
                               rel="me">
                                <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                                @waysily_help
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row middle-xs">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6
                        padding-reset text-left">

                <! Change Language >
                <span class="dropup"
                      uib-dropdown on-toggle="toggled(open)">
                    <span id="change-languages-options"
                       class="ma-link ma-link--simple ma-link--default
                              ma-footer__change-language
                              link-reset space-right-4"
                       uib-dropdown-toggle href
                       aria-haspopup="true" aria-expanded="true">
                       <span class="ma-flag
                                    ma-flag--default
                                    round space-right-2"
                             ng-class="vm.assignFlag"></span>
                       <span data-value="{{vm.form.language.code}}"
                             class="space-right-1" translate>
                           {{vm.form.language.value}}
                       </span>
                       <i class="fa fa-angle-down" aria-hidden="true"></i>
                   </span>
                    <ul class="ma-dropdown
                               dropdown-menu
                               dropdown-menu-top"
                        uib-dropdown-menu
                        role="menu"
                        aria-labelledby="change-languages-options">
                        <li class="ma-dropdown__option">
                            <a class="ma-dropdown__option__btn"
                               ng-click="vm.changeLanguage('es')"
                               href
                               rel="nofollow">
                                <span class="ma-flag
                                             ma-flag--small
                                             ma-flag--small--flag-es
                                             round space-right-2"></span>
                                <span class="space-right-1"
                                      translate>
                                    %header.lang.options.es.text
                                </span>
                            </a>
                        </li>
                        <li class="ma-dropdown__option">
                            <a class="ma-dropdown__option__btn"
                               ng-click="vm.changeLanguage('en')"
                               href
                               rel="nofollow">
                               <span class="ma-flag
                                            ma-flag--small
                                            ma-flag--small--flag-en
                                            round space-right-2"></span>
                               <span class="space-right-1"
                                     translate>
                                   %header.lang.options.en.text
                               </span>
                            </a>
                        </li>
                    </ul>
                </span>


                <! Social links >
                <div class="ma-footer__social-links">
                    <a class="link-reset"
                       href="https://twitter.com/waysily"
                       rel="me"
                       target="_blank">
                        <i class="fa fa-twitter
                                  space-right-3" aria-hidden="true"></i>
                    </a>
                    <a class="link-reset"
                       href="https://www.facebook.com/waysily"
                       rel="me"
                       target="_blank">
                        <i class="fa fa-facebook-official
                                  space-right-3" aria-hidden="true"></i>
                    </a>
                    <a class="link-reset"
                       href="mailto:help@waysily.com"
                       rel="me">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                </div>

            </div>
            <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 text-right">
                <p class="ma-footer__copyright ma-p ma-p--small margin-reset hidden">
                    <span translate>
                        %footer.made.label.text
                    </span>
                    <i class="material-icons md-12 md-alert">favorite</i>
                    <span translate>
                        %footer.in.label.text
                    </span>
                    <span class="strong" translate>
                        Portland, OR
                    </span>
                    <!--<a class="ma-link ma-link--box
                              ma-link--box--small ma-link--box--primary
                              hidden"
                              href="https://twitter.com/seruda" target="_blank">
                        @seruda
                    </a> & <a class="ma-link ma-link--box
                                     ma-link--box--small
                                     ma-link--box--primary
                                     hidden"
                              href="https://twitter.com/rosa7082" target="_blank">
                        @rosa7082
                    </a>-->
                </p>
                <p class="ma-footer__copyright ma-p ma-p--small margin-reset">
                    Made with
                    <i title="love" class="fa fa-heart" aria-hidden="true" style="color:#ff5a5f;"></i>
                    <span class="sr-only">love</span>
                     &amp;
                    <i title="coffee" class="fa fa-coffee" aria-hidden="true" style="color:#8c7878;"></i>
                    <span class="sr-only">coffee</span>
                    in
                    <a class="ma-link ma-link--simple"
                       href="https://www.google.com/maps/place/Portland,OR" target="_blank">
                        Portland OR
                    </a>.
                </p>
            </div>
        </div>

    </footer>

    <!--                            END: FOOTER                              -->

</div>
