.search-result {

    //INFO SIDE
    &__info {
        padding: $search-info-padding;
        overflow-y: scroll;
        position: fixed;
        left: $search-info-left;
        bottom: $search-info-bottom;
        top: $search-info-top;

        &__block {
            text-align: left;
            height: $search-info-block-height;
            background-color: $search-info-block-background;
            //padding: $search-info-block-padding;
            margin: $search-info-block-margin;
            border: $search-info-block-border;

            &__basic-info {
                padding: 20px;

                &__from {
                    margin: 0 0 15px 0;
                }
            }

            &__about {
                padding: 0 20px;
            }

            &__interests {
                padding: 0 20px;
                &__title {
                    margin-top: 0;
                }
            }
        }
    }

    //MAP SIDE
    &__map {
        background-color: $search-map-background;
        position: fixed;
        right: $search-map-right;
        left: $search-map-left;
        bottom: $search-map-bottom;
        top: $search-map-top;
    }

}
