<!----------------------------------------------------------------------------->
<!--                            USER PROFILE PAGE                            -->
<!----------------------------------------------------------------------------->

<div class="search-result row margin-reset">

    <!--                    START: INFO SIDE (LEFT COLUMN)                   -->
    <!------------------------------------------------------------------------->
    <div id="search-result-left-column"
         class="search-result__info col-xs-12 col-sm-7 col-md-7">

        <div class="row margin-reset" ng-repeat="rows in vm.data">

            <div class="col-sm-12 col-md-6"
                 ng-repeat="item in rows"
                 ng-include="vm._getResultTemplate(vm.type)">
                <!-- Dynamic section template: users, teachers or schools results -->
            </div>

        </div>
    </div>
    <!--                    END: INFO SIDE (LEFT COLUMN)                     -->



    <!--                    START: MAP SIDE (RIGHT COLUMN)                   -->
    <!------------------------------------------------------------------------->
    <div id="search-result-right-column" class="search-result__map
                col-md-5 col-sm-5
                visible-lg visible-md visible-sm">
        <div class="search-map">
            <ma-map ng-if="vm.mapConfig" map-config="vm.mapConfig"></ma-map>
        </div>
    </div>
    <!--                    END: MAP SIDE (RIGHT COLUMN)                     -->

</div>
