<!----------------------------------------------------------------------------->
<!--                            USER PROFILE PAGE                            -->
<!----------------------------------------------------------------------------->

<div class="search-result row margin-reset">

    <!----------------------- START: MAIN LOADING BLOCK ----------------------->
    <div id="mainLoading" class="ma-mainLoading hidden">
        <div class="content-loading">
            <i class="ma-loading
                      ma-loading--medium-gray
                      fa fa-refresh fa-spin fa-5x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!--                      END: MAIN LOADING  BLOCK                       -->



    <!--                    START: INFO SIDE (LEFT COLUMN)                   -->
    <!------------------------------------------------------------------------->
    <div id="search-result-left-column"
         class="search-result__info col-xs-12 col-sm-7 col-md-7">

        <!---------------------- START: LEFT LOADING BLOCK -------------------->
        <div class="row
                    ma-loading-container
                    ma-loading-container--center-screen"
             ng-show="vm.leftLoading">
            <div class="col-xs-12 text-center">
                <i class="ma-loading
                          ma-loading--medium-gray
                          fa fa-cog fa-spin fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!--                    END: LEFT LOADING  BLOCK                     -->



        <div class="row margin-reset space-left-2 space-right-2"
             ng-show="!vm.leftLoading"
             ng-repeat="rows in vm.data">

            <div class="col-xs-12 col-sm-6 col-md-6"
                 ng-repeat="item in ::rows"
                 ng-if="vm.type === 'student'">
                <!-- Dynamic section template: users, teachers or schools results -->
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6"
                 ng-repeat="item in ::rows"
                 ng-if="::vm.type === 'school'">

                <ma-school-result data-id="{{::item.id}}">
                </ma-school-result>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-6"
                 ng-repeat="item in ::rows"
                 ng-if="::vm.type === 'teacher'">

                <ma-teacher-result></ma-teacher-result>

            </div>

        </div>

        <div class="footer-separator"></div>

    </div>
    <!--                    END: INFO SIDE (LEFT COLUMN)                     -->



    <!--                    START: MAP SIDE (RIGHT COLUMN)                   -->
    <!------------------------------------------------------------------------->
    <div id="search-result-right-column"
         class="search-result__map
                col-md-5 col-sm-5
                visible-lg visible-md visible-sm">


        <!--------------------- START: RIGHT LOADING BLOCK -------------------->
        <div class="row
                    ma-loading-container
                    ma-loading-container--center-screen"
             ng-show="vm.rightLoading">
            <div class="col-xs-12 text-center">
                <i class="ma-loading
                          ma-loading--medium-gray
                          fa fa-cog fa-spin fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!--                   END: RIGHT LOADING  BLOCK                     -->


        <div class="search-map">
            <ma-map ng-if="vm.mapConfig"
                    map-config="vm.mapConfig"
                    type-of-marker="vm.marker"
                    btn-filter="true"
                    btn-filter-target="vm.type"></ma-map>
        </div>


    </div>
    <!--                    END: MAP SIDE (RIGHT COLUMN)                     -->

</div>
