/*************************/
/*       VARIABLES       */
/*************************/
$studentLanding-background: $white;

$studentLanding-titleBlock-width: 100%;
$studentLanding-titleBlock-background: #fff3f0;
$studentLanding-titleBlock-margin: 0 auto;
$studentLanding-titleBlock-padding: 30px 0;
$studentLanding-titleBlock-border: 2px dashed #F59689;

$studentLanding-titleBlock-h2-font-color: #F59689;

$studentLanding-howWorkBlock-margin-top: 40px;
$studentLanding-howWorkBlock-margin-bottom: 40px;

$studentLanding-howWorkBlock-row-padding: 0 20px;

$studentLanding-howWorkBlock-stepItem-padding: 45px 0;

$studentLanding-dashedAlternate-background-position: -12px center;
$studentLanding-dashedAlternate-height: 4px;
$studentLanding-dashedAlternate-left: 0;
$studentLanding-dashedAlternate-right: 0;
$studentLanding-dashedAlternate-index: 2;
$studentLanding-dashedAlternate-bottom: calc(99% - 1px);

$studentLanding-withoutContent-padding: 20px 0;

$studentLanding-howWorkBlock-stepImage-width: 50%;
$studentLanding-howWorkBlock-stepImage-height: 0;

$studentLanding-howWorkBlock-stepImage-map-padding: 37%;
$studentLanding-howWorkBlock-stepImage-profile-padding: 40%;
$studentLanding-howWorkBlock-stepImage-points-padding: 37%;
$studentLanding-howWorkBlock-stepImage-request-padding: 36%;
$studentLanding-howWorkBlock-stepImage-meeting-padding: 37%;

$studentLanding-howWorkBlock-stepContent-width: 50%;
$studentLanding-howWorkBlock-stepContent-max-width: 450px;
$studentLanding-howWorkBlock-stepContent-top: 50%;
$studentLanding-howWorkBlock-stepContent-transform: translateY(-50%);
$studentLanding-howWorkBlock-stepContent-padding: 50px;

$studentLanding-howWorkBlock-stepContent-text-font-size: 20px;

$studentLanding-howWorkBlock-imageOnLeft-stepContent-left: 50%;

$studentLanding-earlyAccessBlock-padding: 40px 20px;
$studentLanding-earlyAccessBlock-background: #E1F7EE;
$studentLanding-earlyAccessBlock-border: 2px dashed map-get($main-palette, primary);
$studentLanding-earlyAccessBlock-font-color: map-get($main-palette, primary);

$studentLanding-earlyAccessBlock-formBlock-text-font-color: map-get($main-palette, primary);

$studentLanding-earlyAccessBlock-formBlock-formGroup-padding: 0;


/**********************************************************/
/*                   USER PROFILE PAGE                    */
/**********************************************************/

.how-work {
    &__step {

        &__image-block {

            &__image {
                background-repeat: no-repeat;
                background-position: left center;
                background-size: contain;

                &--map {
                    background-image: url($image-studentLanding-step-map);
                }
                &--profile {
                    background-image: url($image-studentLanding-step-profile);
                }
                &--points {
                    background-image: url($image-studentLanding-step-points);
                }
                &--request {
                    background-image: url($image-studentLanding-step-request);
                }
                &--meeting {
                    background-image: url($image-studentLanding-step-meeting);
                }
            }

        }

        &__text-block {

            &__text {

            }

        }

    }
}

.studentLandingPage {

    background-color: $studentLanding-background;

    /* title block */
    &__title-block {
        width: $studentLanding-titleBlock-width;
        background: $studentLanding-titleBlock-background;
        margin: $studentLanding-titleBlock-margin;
        padding: $studentLanding-titleBlock-padding;
        border-bottom: $studentLanding-titleBlock-border;

        h2 {
            color: $studentLanding-titleBlock-h2-font-color;
        }
    }

    /* how work block */
    &__how-work-block {
        margin-top: $studentLanding-howWorkBlock-margin-top;
        margin-bottom: $studentLanding-howWorkBlock-margin-bottom;

        .row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            &:before {
                display: inline-block;
            }

            &:after {
                display: inline-block;
            }

            padding: $studentLanding-howWorkBlock-row-padding;

            .step-item {
                position: relative;
                padding: $studentLanding-howWorkBlock-stepItem-padding;
                overflow: hidden;

                &:before {
                    content: "";
                    background-image: url($image-dashed-alternate);
                    background-repeat: repeat-x;
                    background-position: $studentLanding-dashedAlternate-background-position;
                    height: $studentLanding-dashedAlternate-height;
                    position: absolute;
                    left: $studentLanding-dashedAlternate-left;
                    right: $studentLanding-dashedAlternate-right;
                    z-index: $studentLanding-dashedAlternate-index;
                    bottom: $studentLanding-dashedAlternate-bottom;
                }

                &--first {
                    &:before {
                         background: none;
                    }
                }

                &--without-content {
                    overflow: visible;
                    padding: $studentLanding-withoutContent-padding;
                }

                .step-image {
                    width: $studentLanding-howWorkBlock-stepImage-width;
                    height: $studentLanding-howWorkBlock-stepImage-height;
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: contain;
                    &.map {
                        padding-top: $studentLanding-howWorkBlock-stepImage-map-padding;
                        background-image: url($image-studentLanding-step-map);
                    }
                    &.profile {
                        padding-top: $studentLanding-howWorkBlock-stepImage-profile-padding;
                        background-image: url($image-studentLanding-step-profile);
                    }
                    &.points {
                        padding-top: $studentLanding-howWorkBlock-stepImage-points-padding;
                        background-image: url($image-studentLanding-step-points);
                    }
                    &.request {
                        padding-top: $studentLanding-howWorkBlock-stepImage-request-padding;
                        background-image: url($image-studentLanding-step-request);
                    }
                    &.meeting {
                        padding-top: $studentLanding-howWorkBlock-stepImage-meeting-padding;
                        background-image: url($image-studentLanding-step-meeting);
                    }
                }

                .step-content {
                    width: $studentLanding-howWorkBlock-stepContent-width;
                    max-width: $studentLanding-howWorkBlock-stepContent-max-width;
                    position: absolute;
                    top: $studentLanding-howWorkBlock-stepContent-top;
                    -webkit-transform: $studentLanding-howWorkBlock-stepContent-transform;
                    -ms-transform: $studentLanding-howWorkBlock-stepContent-transform;
                    transform: $studentLanding-howWorkBlock-stepContent-transform;
                    padding-left: $studentLanding-howWorkBlock-stepContent-padding;

                    p {
                        font-size: $studentLanding-howWorkBlock-stepContent-text-font-size;
                    }
                }

                &--image-on-right {
                    .step-image {
                        float: right;
                    }
                }

                &--image-on-left {
                    .step-image {
                        float: left;
                    }
                    .step-content {
                        left: $studentLanding-howWorkBlock-imageOnLeft-stepContent-left;
                    }
                }
            }

        }
    }


    /* get early access block */
    &__early-access-block {
        padding: $studentLanding-earlyAccessBlock-padding;
        background-color: $studentLanding-earlyAccessBlock-background;
        border-top: $studentLanding-earlyAccessBlock-border;
        color: $studentLanding-earlyAccessBlock-font-color;

        .row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            &:before {
                display: inline-block;
            }

            &:after {
                display: inline-block;
            }

            &__form-block {
                .ma-p {
                    color: $studentLanding-earlyAccessBlock-formBlock-text-font-color;
                }

                .form-group {
                    padding: $studentLanding-earlyAccessBlock-formBlock-formGroup-padding;
                }
            }
        }
    }
}


/*==========  Mobile First Method  ==========*/

 /* Custom, iPhone Retina */
 @media only screen and (min-width : 320px) {
     .how-work {

         &__step {
             padding: 0 20px;

             &--image-left {

                 .image-block {
                     padding-left: 0;
                     padding-right: 0;

                     &__image {
                        width: 90%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__text {

                         h2 {
                            font-size: 180%;
                         }

                         p {
                            font-size: 120%;
                         }

                     }

                 }

             }

             &--image-right {

                 .image-block {
                     padding-left: 0;
                     padding-right: 0;
                     order: 1;

                     &__image {
                        width: 90%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 20px;
                     padding-right: 20px;
                     order: 2;

                     &__text {

                         h2 {
                            font-size: 180%;
                         }

                         p {
                            font-size: 120%;
                         }

                     }

                 }

             }

         }
     }
 }

 /* Extra Small Devices, Phones */
 @media only screen and (min-width : 480px) {
     .how-work {

         &__step {
             padding: 0 20px;

             &--image-left {

                 .image-block {
                     padding-left: 0;
                     padding-right: 0;

                     &__image {
                        width: 90%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__text {

                         h2 {
                            font-size: 180%;
                         }

                         p {
                            font-size: 120%;
                         }

                     }

                 }

             }

             &--image-right {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;

                 .image-block {
                     padding-left: 0;
                     padding-right: 0;

                     &__image {
                        width: 90%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__text {

                         h2 {
                            font-size: 180%;
                         }

                         p {
                            font-size: 120%;
                         }

                     }

                 }

             }

         }
     }
 }

 /* Small Devices, Tablets */
 @media only screen and (min-width : 768px) {
     .how-work {

         &__step {
             padding: 0 20px;

             &--image-left {
                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                        width: 70%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 40px;
                     padding-right: 40px;

                     &__text {

                         h2 {
                            font-size: 230%;
                         }

                         p {
                            font-size: 165%;
                         }

                     }

                 }
             }

             &--image-right {

                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                        width: 70%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 10%;
                     padding-right: 0;

                     &__text {

                         h2 {
                            font-size: 210%;
                         }

                         p {
                            font-size: 140%;
                         }

                     }

                 }
             }

         }
     }
 }

 /* Medium Devices, Desktops */
 @media only screen and (min-width : 992px) {
     .how-work {

         &__step {
             padding: 0 20px;

             &--image-left {

                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                        width: 80%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 0px;
                     padding-right: 40px;

                     &__text {

                         h2 {
                            font-size: 200%;
                         }

                         p {
                            font-size: 140%;
                         }

                     }

                 }

             }


             &--image-right {

                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                        width: 80%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 10%;
                     padding-right: 0px;

                     &__text {

                         h2 {
                            font-size: 200%;
                         }

                         p {
                            font-size: 140%;
                         }

                     }

                 }

             }

         }
     }
 }

 /* Large Devices, Wide Screens */
 @media only screen and (min-width : 1200px) {
     .how-work {

         &__step {
             padding: 0 20px;

             &--image-left {

                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                         width: 70%;
                         height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 0px;
                     padding-right: 40px;

                     &__text {

                         h2 {
                            font-size: 230%;
                         }

                         p {
                            font-size: 160%;
                         }

                     }

                 }

             }

             &--image-right {

                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                         width: 70%;
                         height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 10%;
                     padding-right: 0px;

                     &__text {

                         h2 {
                            font-size: 230%;
                         }

                         p {
                            font-size: 160%;
                         }

                     }

                 }

             }

         }
     }
 }
