/*************************/
/*       VARIABLES       */
/*************************/
$landing-background: $white;

$landing-titleBlock-h2-font-color: #F59689;

$landing-howWorkBlock-margin-top: 40px;
$landing-howWorkBlock-margin-bottom: 40px;

$landing-howWorkBlock-row-padding: 0 20px;

$landing-howWorkBlock-stepItem-padding: 45px 0;

$landing-dashedAlternate-background-position: -12px center;
$landing-dashedAlternate-height: 4px;
$landing-dashedAlternate-left: 0;
$landing-dashedAlternate-right: 0;
$landing-dashedAlternate-index: 2;
$landing-dashedAlternate-bottom: calc(99% - 1px);

$landing-withoutContent-padding: 20px 0;

$landing-howWorkBlock-stepImage-width: 50%;
$landing-howWorkBlock-stepImage-height: 0;

$landing-howWorkBlock-stepImage-map-padding: 37%;
$landing-howWorkBlock-stepImage-profile-padding: 40%;
$landing-howWorkBlock-stepImage-points-padding: 37%;
$landing-howWorkBlock-stepImage-request-padding: 36%;
$landing-howWorkBlock-stepImage-meeting-padding: 37%;

$landing-howWorkBlock-stepContent-width: 50%;
$landing-howWorkBlock-stepContent-max-width: 450px;
$landing-howWorkBlock-stepContent-top: 50%;
$landing-howWorkBlock-stepContent-transform: translateY(-50%);
$landing-howWorkBlock-stepContent-padding: 50px;

$landing-howWorkBlock-stepContent-text-font-size: 20px;

$landing-howWorkBlock-imageOnLeft-stepContent-left: 50%;

$landing-earlyAccessBlock-padding: 40px 20px;
$landing-earlyAccessBlock-background: #E1F7EE;
$landing-earlyAccessBlock-border: 2px dashed map-get($main-palette, primary);
$landing-earlyAccessBlock-font-color: map-get($main-palette, primary);

$landing-earlyAccessBlock-formBlock-text-font-color: map-get($main-palette, primary);

$landing-earlyAccessBlock-formBlock-formGroup-padding: 0;


/**********************************************************/
/*                   USER PROFILE PAGE                    */
/**********************************************************/

.landingPage {

    background-color: $landing-background;
    height: 100%;

    /* our mission block */
    &__mission-block {

    }

    /* how work block */
    &__how-work-block {
        margin-top: $landing-howWorkBlock-margin-top;
        margin-bottom: $landing-howWorkBlock-margin-bottom;

        .row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            &:before {
                display: inline-block;
            }

            &:after {
                display: inline-block;
            }

            padding: $landing-howWorkBlock-row-padding;

            .step-item {
                position: relative;
                padding: $landing-howWorkBlock-stepItem-padding;
                overflow: hidden;

                &:before {
                    content: "";
                    background-image: url($image-dashed-alternate);
                    background-repeat: repeat-x;
                    background-position: $landing-dashedAlternate-background-position;
                    height: $landing-dashedAlternate-height;
                    position: absolute;
                    left: $landing-dashedAlternate-left;
                    right: $landing-dashedAlternate-right;
                    z-index: $landing-dashedAlternate-index;
                    bottom: $landing-dashedAlternate-bottom;
                }

                &--first {
                    &:before {
                         background: none;
                    }
                }

                &--without-content {
                    overflow: visible;
                    padding: $landing-withoutContent-padding;
                }

                .step-content {
                    width: $landing-howWorkBlock-stepContent-width;
                    max-width: $landing-howWorkBlock-stepContent-max-width;
                    position: absolute;
                    top: $landing-howWorkBlock-stepContent-top;
                    -webkit-transform: $landing-howWorkBlock-stepContent-transform;
                    -ms-transform: $landing-howWorkBlock-stepContent-transform;
                    transform: $landing-howWorkBlock-stepContent-transform;
                    padding-left: $landing-howWorkBlock-stepContent-padding;

                    p {
                        font-size: $landing-howWorkBlock-stepContent-text-font-size;
                    }
                }

                &--image-on-right {
                    .step-image {
                        float: right;
                    }
                }

                &--image-on-left {
                    .step-image {
                        float: left;
                    }
                    .step-content {
                        left: $landing-howWorkBlock-imageOnLeft-stepContent-left;
                    }
                }
            }

        }
    }


    /* get early access block */
    &__early-access-block {
        padding: $landing-earlyAccessBlock-padding;
        background-color: $landing-earlyAccessBlock-background;
        border-top: $landing-earlyAccessBlock-border;
        color: $landing-earlyAccessBlock-font-color;

        .row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            &:before {
                display: inline-block;
            }

            &:after {
                display: inline-block;
            }

            &__form-block {
                .ma-p {
                    color: $landing-earlyAccessBlock-formBlock-text-font-color;
                }

                .form-group {
                    padding: $landing-earlyAccessBlock-formBlock-formGroup-padding;
                }
            }
        }
    }
}


/*==========  Mobile First Method  ==========*/

 /* Custom, iPhone Retina */
 @media only screen and (min-width : 320px) {
     .how-work {

         &__step {
             padding: 0 20px;

             &--image-left {

                 .image-block {
                     padding-left: 0;
                     padding-right: 0;

                     &__image {
                        width: 90%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__text {

                         h2 {
                            font-size: 180%;
                         }

                         p {
                            font-size: 120%;
                         }

                     }

                 }

             }

             &--image-right {

                 .image-block {
                     padding-left: 0;
                     padding-right: 0;
                     order: 1;

                     &__image {
                        width: 90%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 20px;
                     padding-right: 20px;
                     order: 2;

                     &__text {

                         h2 {
                            font-size: 180%;
                         }

                         p {
                            font-size: 120%;
                         }

                     }

                 }

             }

         }
     }
 }

 /* Extra Small Devices, Phones */
 @media only screen and (min-width : 480px) {
     .how-work {

         &__step {
             padding: 0 20px;

             &--image-left {

                 .image-block {
                     padding-left: 0;
                     padding-right: 0;

                     &__image {
                        width: 90%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__text {

                         h2 {
                            font-size: 180%;
                         }

                         p {
                            font-size: 120%;
                         }

                     }

                 }

             }

             &--image-right {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;

                 .image-block {
                     padding-left: 0;
                     padding-right: 0;

                     &__image {
                        width: 90%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__text {

                         h2 {
                            font-size: 180%;
                         }

                         p {
                            font-size: 120%;
                         }

                     }

                 }

             }

         }
     }
 }

 /* Small Devices, Tablets */
 @media only screen and (min-width : 768px) {
     .how-work {

         &__step {
             padding: 0 20px;

             &--image-left {
                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                        width: 70%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 40px;
                     padding-right: 40px;

                     &__text {

                         h2 {
                            font-size: 230%;
                         }

                         p {
                            font-size: 165%;
                         }

                     }

                 }
             }

             &--image-right {

                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                        width: 70%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 10%;
                     padding-right: 0;

                     &__text {

                         h2 {
                            font-size: 210%;
                         }

                         p {
                            font-size: 140%;
                         }

                     }

                 }
             }

         }
     }
 }

 /* Medium Devices, Desktops */
 @media only screen and (min-width : 992px) {
     .how-work {

         &__step {
             padding: 0 20px;

             &--image-left {

                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                        width: 80%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 0px;
                     padding-right: 40px;

                     &__text {

                         h2 {
                            font-size: 200%;
                         }

                         p {
                            font-size: 140%;
                         }

                     }

                 }

             }


             &--image-right {

                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                        width: 80%;
                        height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 10%;
                     padding-right: 0px;

                     &__text {

                         h2 {
                            font-size: 200%;
                         }

                         p {
                            font-size: 140%;
                         }

                     }

                 }

             }

         }
     }
 }

 /* Large Devices, Wide Screens */
 @media only screen and (min-width : 1200px) {
     .how-work {

         &__step {
             padding: 0 20px;

             &--image-left {

                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                         width: 70%;
                         height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 0px;
                     padding-right: 40px;

                     &__text {

                         h2 {
                            font-size: 230%;
                         }

                         p {
                            font-size: 160%;
                         }

                     }

                 }

             }

             &--image-right {

                 .image-block {
                     padding-left: 20px;
                     padding-right: 20px;

                     &__image {
                         width: 70%;
                         height: auto;
                     }

                 }

                 .text-block {
                     padding-left: 10%;
                     padding-right: 0px;

                     &__text {

                         h2 {
                            font-size: 230%;
                         }

                         p {
                            font-size: 160%;
                         }

                     }

                 }

             }

         }
     }
 }
