
<!--                                HEADER                                   -->
<!----------------------------------------------------------------------------->

<div class="ma-header ma-header--transparent">


    <!--                    START: HEADER (SMALL SCREEN)                     -->
    <!------------------------------------------------------------------------->
    <header class="visible-xs clearfix">

        <!--------------------- START: LOGO (SMALL SCREEN) -------------------->
        <div class="ma-header__block ma-header--transparent__block pull-left">
            <a href="/page/main"
               class="ma-header__block__btn
                      ma-header__block__logo-wrapper
                      link-reset" aria-label="Waysily">
                <i class="ma-logo
                          ma-logo--secondary-short
                          ma-header__block__btn__ma-logo"></i>
            </a>
        </div>
        <!--                     END: LOGO (SMALL SCREEN)                    -->



    </header>
    <!--                     END: HEADER (SMALL SCREEN)                      -->



    <!--                   START: HEADER (MD AND LG SCREEN)                  -->
    <!------------------------------------------------------------------------->
    <header class="hidden-xs clearfix">

        <!-------------------- START: LOGO (MD AND LG SCREEN) ----------------->
        <div class="ma-header__block ma-header--transparent__block pull-left">
            <a href="/page/main"
               class="ma-header__block__btn
                      ma-header__block__logo-wrapper
                      link-reset" aria-label="Waysily">
                <i class="ma-logo
                          ma-logo--secondary
                          ma-header__block__btn__ma-logo"></i>
            </a>
        </div>
        <!--                   END: LOGO (MD AND LG SCREEN)                  -->



        <!---------------- START: PROFILE IMAGE (MD AND LG SCREEN) ------------>
        <div ng-if="vm.isAuthenticated"
             class="ma-header__block
                    ma-header--transparent__block
                    pull-right">

            <! User menu options dropdown >
            <span uib-dropdown on-toggle="toggled(open)">
                <a id="user-menu-options"
                   class="ma-header__block__btn
                          ma-header--transparent__block__btn
                          link-reset dropdown-toggle"
                   uib-dropdown-toggle href
                   aria-haspopup="true" aria-expanded="true">
                    <div class="ma-photo-profile
                                ma-photo-profile--tiny
                                round
                                ma-header__block__btn__icon
                                ma-header__block__btn__icon__ma-photo">
                        <img width="32"
                             height="32"
                             ng-show="vm.$rootScope.profileData.avatar"
                             ng-src="{{vm.$rootScope.profileData.avatar}}"
                             alt="{{vm.$rootScope.profileData.firstName}}">
                    </div>
                </a>
                <ul class="ma-dropdown
                           dropdown-menu
                           dropdown-menu-right"
                    uib-dropdown-menu
                    role="menu"
                    aria-labelledby="user-menu-options">
                    <li class="ma-dropdown__option">
                        <a href="/page/users/edit/info"
                           rel="nofollow"
                           class="ma-dropdown__option__btn"
                           translate>
                            %profile.teacher.edit_profile.button.text
                        </a>
                    </li>
                    <li class="ma-dropdown__option">
                        <a ng-if="!vm.isTeacher"
                           href="/page/main/teacher"
                           class="ma-dropdown__option__btn"
                           translate>
                            %header.join.teacher.button.text
                        </a>
                    </li>
                    <li class="ma-dropdown__option hidden">
                        <a ui-sref="page.userEditAgendaPage"
                           class="ma-dropdown__option__btn"
                           rel="nofollow"
                           href>
                            Edit Agenda</a>
                    </li>

                    <li class="ma-dropdown__option last-option">
                        <a class="ma-dropdown__option__btn text-capitalize"
                           ng-click="vm.logout()"
                           rel="nofollow"
                           href translate>
                           %global.logout.button.text
                        </a>
                    </li>
                </ul>
            </span>
        </div>
        <!--                END: PROFILE IMAGE (MD AND LG SCREEN)            -->



        <!---------------- START: LOG IN BUTTON (MD AND LG SCREEN) ------------>
        <div ng-if="!vm.isAuthenticated"
             class="ma-header__block
                    ma-header--transparent__block
                    pull-right">
            <a href class="ma-header__block__btn
                           ma-header--transparent__block__btn
                           ma-header--transparent__block__buttons-list__label
                           text-shadow link-reset text-capitalize"
               rel="nofollow"
               ng-click="vm._openLogInModal()" translate>
                %global.login.label.text
            </a>
        </div>
        <!--                END: LOG IN BUTTON (MD AND LG SCREEN)            -->



        <!--------------- START: SIGN UP BUTTON (MD AND LG SCREEN) ------------>
        <div ng-if="!vm.isAuthenticated"
             class="ma-header__block
                    ma-header--transparent__block
                    pull-right">
            <a href class="ma-header__block__btn
                           ma-header--transparent__block__btn
                           ma-header--transparent__block__buttons-list__label
                           text-shadow link-reset text-capitalize"
               rel="nofollow"
               ng-click="vm._openSignUpModal()" translate>
                %global.signup.label.text
            </a>
        </div>
        <!--               END: SIGN UP BUTTON (MD AND LG SCREEN)            -->



        <!--------------- START: JOIN SECTION (MD AND LG SCREEN) -------------->
        <div class="ma-header__block
                    ma-header--transparent__block
                    ma-header--transparent__block--right
                    pull-right">

            <div class="ma-header--transparent__block__buttons-list">
                <span ng-if="!vm.isTeacher"
                      class="ma-header--transparent__block__buttons-list__label
                             space-right-2 text-shadow"
                      translate>
                    %landing.header.join.label.text
                </span>
                <button ng-if="!vm.isAuthenticated"
                        class="ma-header--transparent__block__buttons-list__btn
                               ma-btn ma-btn--tertiary ma-btn--default
                               space-right-1 hidden"
                        ng-click="vm._openSignUpModal()" translate>
                    %global.student.text
                </button>
                <a ng-if="!vm.isTeacher"
                   class="ma-header--transparent__block__buttons-list__btn
                          ma-btn ma-btn--tertiary ma-btn--default space-right-1"
                    uib-tooltip-template="'headerTooltip.tmpl.html'"
                    tooltip-placement="bottom"
                    tooltip-animation="false"
                    tooltip-class="ma-tooltip ma-tooltip--gray ma-tooltip--small"
                    href="/page/main/teacher"
                    translate>
                    %global.teacher.text
                </a>
                <a class="ma-header--transparent__block__buttons-list__btn
                          ma-btn ma-btn--tertiary ma-btn--default hidden"
                   href="https://waysily.typeform.com/to/jvr0zW"
                   rel="nofollow"
                   target="_blank" translate>
                    %global.school.text
                </a>

            </div>

        </div>
        <!--              END: JOIN SECTION (MD AND LG SCREEN)               -->


    </header>
    <!--                    END: HEADER (MD AND LG SCREEN)                   -->

</div>



<!--                     START:  STUDENT LANDING PAGE                        -->
<!----------------------------------------------------------------------------->
<div class="landingPage">

    <!--------------------------- START: HERO BLOCK --------------------------->
    <section class="ma-hero">

    <div class="poster poster--main"></div>

    <!--video class="hidden-xs video-hero"
           autoplay loop muted poster="../../../assets/images/cover-waysily.png">
        <source data-src="../../../assets/videos/hero-video-2.mp4"
                type="video/mp4" src="../../../assets/videos/hero-video-2.mp4">
    </video-->

	<div class="ma-hero__wrapper text-center">

		<h1 class="ma-hero__wrapper__title text-shadow animated fadeIn"
            translate>
            %landing.puv
        </h1>
        <h2 class="ma-hero__wrapper__description text-shadow
                   animated fadeIn" translate>
            %landing.puv.description
        </h2>

		<div class="ma-hero__wrapper__btn-container">
            <div class="row">
                <div class="col-xs-12 col-sm-6
                            ma-hero__wrapper__btn-container__school">
                    <a id="landingPage-school-btn"
                            href="/page/search"
                            class="ma-btn ma-btn--primary ma-btn--large"
                            ng-click="vm.goToSearch('school');$event.preventDefault()"
                            translate>
                        %global.schools.text
                   </a>
                </div>
                <div class="col-xs-12 col-sm-6
                            ma-hero__wrapper__btn-container__teacher">
                    <a id="landingPage-teacher-btn"
                            href="/page/search"
                            class="ma-btn ma-btn--primary ma-btn--large"
                            ng-click="vm.goToSearch('teacher');$event.preventDefault()"
                            translate>
                        %global.teachers.text
                   </a>
                </div>
            </div>

		</div>

        <div class="ma-hero__wrapper__go-down row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <i class="material-icons md-48 md-light"
                   ng-click="vm.goDown()">keyboard_arrow_down</i>
            </div>
        </div>
	</div>

	</section>
    <!--                          END: HERO BLOCK                            -->



    <!------------------------- START: OUR MISSION BLOCK ---------------------->
    <section class="space-top-8 space-11 container">
        <div class="row center-xs">
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-center">
                <i class="ma-logo
                          ma-logo--primary-short
                          ma-logo--primary-short--default"></i>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
        </div>
        <div class="row center-xs">
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-center">
                <h2 translate>%landing.mission.title.text</h2>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
        </div>
        <div class="row center-xs">
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-center">
                <p class="ma-p ma-p--large">
                    <span translate>%landing.mission.description.text</span>
                    <div class="ma-label
                                ma-label--simple
                                ma-label--simple--large
                                ma-label--simple--primary hidden" translate>
                        %landing.mission.description.free.text
                    </div>
                </p>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
        </div>

    </section>
    <!--                        END: OUR MISSION BLOCK                       -->


    <div class="ma-separator-dashed-image space-11 container"></div>


    <!------------------------ START: OUR PROGRESS BLOCK ---------------------->
    <section class="landingPage__progress-block space-top-11 space-11 container">

        <div class="row center-xs space-5">
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-center">
                <h2 class="margin-reset" translate>
                    %landing.progress.title.text
                </h2>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5">

                        <! Colombia Country Box >
                        <a href="/page/search"
                           class="link-reset"
                           ng-click="vm.goToSearch('school');$event.preventDefault()">
                            <div id="landingPage-country-box-co"
                                 class="country-progress-block
                                        country-progress-block--first text-left">
                                <h2 class="country-progress-block__text
                                           margin-reset space-3" translate>
                                    %country.CO
                                </h2>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>21 </span>
                                    <span translate>%global.schools.text</span>
                                </p>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>24 </span>
                                    <span translate>%global.teachers.text</span>
                                </p>
                            </div>
                        </a>

                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5">

                        <! Guatemala Country Box >
                        <a href="/page/search"
                           class="link-reset"
                           ng-click="$event.preventDefault()">
                            <div class="country-progress-block
                                        country-progress-block--second
                                        country-progress-block--coming-soon text-left">
                                <h2 class="country-progress-block__text
                                           margin-reset space-3" translate>
                                    %country.GT
                                </h2>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-center" translate>
                                    %global.coming_soon.text
                                </p>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5">

                        <! Mexico Country Box >
                        <a href="/page/search"
                           class="link-reset"
                           ng-click="$event.preventDefault()">
                            <div class="country-progress-block
                                        country-progress-block--third
                                        country-progress-block--coming-soon text-left">
                                <h2 class="country-progress-block__text
                                           margin-reset space-3" translate>
                                    %country.MX
                                </h2>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-center" translate>
                                    %global.coming_soon.text
                                </p>
                            </div>  
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--                       END: OUR PROGRESS BLOCK                       -->


    <div class="ma-separator-dashed-image space-12 container"></div>


    <!-------------------- START: RECOMMEND SECTION BLOCK --------------------->
    <section class="landingPage__recommend-block space-top-12 space-12 container">

        <!-- RECOMMEND NEW COUNTRY -->
        <div class="row space-2">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row center-xs middle-xs">
                    <div class="col-md-6 text-center">
                        <label for="recommend-country-input" translate>
                            %landing.recommend.cntry.text
                        </label>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="row middle-xs">
                            <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                                <div class="form-group ma-form-group margin-reset">
                                    <div class="ma-select-container
                                                ma-select-container--large">
                                        <select id="recommend-country-input"
                                                class="ma-input ma-select
                                                       ma-select--large
                                                       ma-select--border-round"
                                                ng-model="vm.countryObject"
                                                ng-class="{'ma-input--invalid': !vm.validate.country.valid}"
                                                ng-options="country.value | translate for country in vm.listCountries track by country.code"
                                                name="recommend[country]" class="form-control">
                                                <option value="" disabled selected translate>
                                                    %create.teacher.location.form.cntry.option_list.text
                                                </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 text-left">
                                <!-- Send Button -->
                                <button class="ma-btn
                                               ma-btn--primary
                                               ma-btn--large
                                               ma-btn--onlyIcon
                                               ma-btn--onlyIcon--large"
                                        ng-click="vm._sendCountryFeedback()"
                                        ng-disabled="vm.infoCountry.disabled">
                                    <i  ng-show="vm.infoCountry.sent"
                                        class="fa fa-paper-plane" aria-hidden="true"></i>
                                    <i ng-show="vm.infoCountry.sending"
                                       class="fa fa-cog fa-spin fa-fw"></i>
                                    <span class="sr-only" translate>
                                        %global.loading.text
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- RECOMMEND TEACHER -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row center-xs middle-xs">
                    <div class="col-md-6 text-center">
                        <label for="recommend-teacher-input" translate>
                            %landing.recommend.teacher.text
                        </label>
                    </div>
                    <div class="col-md-6 text-center">
                        <!-- Recommend Button -->
                        <button class="ma-btn ma-btn--primary ma-btn--large"
                           ng-click="vm._recommendTeacher()"
                           translate>
                            %landing.recommend.teacher.button.text
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- RECOMMEND SCHOOL -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row center-xs middle-xs">
                    <div class="col-md-6 text-center">
                        <label for="recommend-school-input" translate>
                            %landing.recommend.school.text
                        </label>
                    </div>
                    <div class="col-md-6 text-center">
                        <!-- Recommend Button -->
                        <button class="ma-btn ma-btn--primary ma-btn--large"
                            ng-click="vm._recommendSchool()"
                            translate>
                            %landing.recommend.school.button.text
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!--                    END: RECOMMEND SECTION BLOCK                     -->


    <div class="ma-separator-dashed-image space-9 container"></div>


    <!--------------------- START: GET EARLY ADOPTERS BLOCK ------------------->
    <section class="space-top-9 space-15 container">
        <!-- large success message -->
        <div class="row ma-large-message ma-large-message--success space-2"
             ng-show="vm.infoNewUser.success">
            <div class="col-md-12 text-center">
                <p class="ma-p ma-p--default ma-p--primary margin-reset">
                    <span translate>
                        %landing.get_user.message.success.text
                    </span>
                </p>
            </div>
        </div>
        <!-- large error message -->
        <div class="row ma-large-message ma-large-message--alert space-2"
             ng-show="!vm.validate.email.valid">
            <div class="col-md-12 text-center">
                <p class="ma-p ma-p--default ma-p--alert margin-reset">
                    <span translate>
                        %global.validation.email.message.text
                    </span>
                </p>
            </div>
        </div>
        <div class="row center-xs space-2">
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-center">
                <i class="ma-logo
                          ma-logo--primary-short
                          ma-logo--primary-short--default"></i>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
        </div>
        <div class="row center-xs space-3">
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-center">
                <h2 class="margin-reset" translate>
                    %landing.get_user.title.text
                </h2>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
        </div>
        <div class="row center-xs space-2">
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <p class="ma-p ma-p--large" translate>
                    %landing.get_user.description.text
                </p>
            </div>
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4"></div>
        </div>

        <div class="row center-xs space-2">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="row middle-xs center-xs">
                    <div class="col-xs-12">
                        <label class="sr-only" for="exampleInputAmount"
                               translate>
                            %landing.get_user.input_email.placeholder.text
                        </label>
                        <input class="ma-input
                                    ma-input--large
                                    ma-input--border-round"
                                style="width: initial; display: inline-block;"
                                type="text"
                                ng-model="vm.form.userData.email"
                                ng-class="{'ma-input--invalid': !vm.validate.email.valid}"
                                translate
                                translate-attr-placeholder="%landing.get_user.input_email.placeholder.text"
                                name="" value="">
                        <!-- Send Button -->
                        <button class="ma-btn
                                       ma-btn--primary
                                       ma-btn--large
                                       ma-btn--onlyIcon
                                       ma-btn--onlyIcon--large
                                       space-left-1"
                                style="display: inline-block;vertical-align: bottom;"
                                ng-click="vm._createEarlyAdopter()"
                                ng-disabled="vm.infoNewUser.disabled">
                            <i ng-show="vm.infoNewUser.sent"
                               class="fa fa-paper-plane" aria-hidden="true"></i>
                            <i ng-show="vm.infoNewUser.sending"
                               class="fa fa-cog fa-spin fa-fw"></i>
                            <span class="sr-only" translate>
                                %global.loading.text
                            </span>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12">
                <div class="ma-label
                            ma-label--simple
                            ma-label--simple--default
                            ma-label--simple--primary" translate>
                    %landing.get_user.help_text.text
                </div>
            </div>
        </div>

    </section>
    <!--                     END: GET EARLY ADOPTERS BLOCK                   -->


</div>
<!--                      END: STUDENT LANDING PAGE                          -->
