<!----------------------------------------------------------------------------->
<!--                     RECOMMENDATION FROM STUDENT MODAL                   -->
<!----------------------------------------------------------------------------->

<div class="ma-box">

    <!--                              CONTENT                                -->
    <!------------------------------------------------------------------------->
    <div class="ma-box__content" style="padding-left: 30px;padding-right: 30px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <i class="material-icons
                          md-18
                          md-dark md-dark--clicked
                          pull-right"
                          ng-click="vm.close()">close</i>
            </div>
        </div>

        <!--------------------- START: GET EARLY ADOPTERS BLOCK ------------------->
        <section class="space-2">

            <div class="row center-xs space-2">
                <div class="col-xs-12 text-center">
                    <i class="ma-logo
                              ma-logo--primary-short
                              ma-logo--primary-short--default"></i>
                </div>
            </div>

            <div class="row space-4 text-center">
                <div class="col-xs-12">
                    <h3 style="line-height:30px;" class="margin-reset" translate>
                        Karlu, desea que hagas parte de la comunidad más grande en el intercambio de idiomas.
                    </h3>
                </div>
            </div>

            <div class="row space-2">
                <div class="col-xs-12">
                    <p class="ma-p ma-p--large" translate>
                        Escribio la siguiente recomendación y te califico como tutor de idiomas:
                    </p>
                </div>
            </div>

            <div class="ma-separator-dashed-image space-3 hidden"></div>

            <!-- Comment -->
            <div class="reviews-info-box__footer__comments-block__comment
                        row margin-reset">

                <div class="col-xs-12 space-2" style="border: 1px solid #CCC;
                                                padding-top: 8px;
                                                border-radius: 10px;
                                                background-color: rgba(245, 245, 245, 0.84);">
                    <div class="row margin-reset">
                        <p class="ma-p ma-p--default">
                            Very friendly and patient manner of teaching. Good style and very flexible with class times!
                        </p>
                    </div>
                    <div class="row margin-reset">
                        <div class="col-xs-6 padding-reset">
                            <div class="reviews-info-box__footer__comments-block__date-flag
                                        pull-left">
                                <p class="ma-p ma-p--default" style="font-style: italic; font-weight: 600;">
                                    - Karlu Chu
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="reviews-info-box__footer__comments-block__date-flag
                                        pull-right">
                                <p class="ma-label
                                          ma-label--simple
                                          ma-label--simple--medium
                                          ma-label--simple--primary
                                          margin-reset">
                                    Enero 2017
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <hr class="margin-reset space-top-1 space-1 hidden">

            <div class="row space-5">

                <div class="col-xs-12 text-center">
                    <div class="reviews-info-box__content__block">
                        <h4 translate>
                            Enseñanza
                        </h4>
                        <ma-rating rating-value="10"
                                   size="tiny">
                    </div>
                    <div class="reviews-info-box__content__block">
                        <h4 translate>
                            Comunicación
                        </h4>
                        <ma-rating rating-value="10"
                                   size="tiny">
                    </div>
                    <div class="reviews-info-box__content__block" style="margin-right: 0;">
                        <h4 translate>
                            Metodologia
                        </h4>
                        <ma-rating rating-value="10"
                                   size="tiny">
                    </div>
                </div>

            </div>

            <div class="ma-separator-dashed-image space-5"></div>

            <div class="row space-6">
                <div class="col-xs-12">
                    <p class="ma-p ma-p--large text-center">
                        En Waysily podrás crear una reputación como profesor de
                        idiomas recibiendo recomendaciones de tus estudiantes,
                        hacerte visible a 6000+ estudiantes que viajan a tu pais
                        cada año, y ganar aproximamente
                        <span class="strong strong--primary">
                            340 USD / semana
                        </span>
                        por hacer lo que mejor sabes hacer:
                        <strong>Enseñar</strong>.
                    </p>
                </div>
            </div>

            <div class="row text-center space-2">
                <div class="col-xs-12">
                    <button type="button"
                            class="ma-btn ma-btn--large
                                   ma-btn--primary text-uppercase"
                            translate>
                        join
                    </button>
                </div>
            </div>

            <div class="row center-xs">
                <div class="ma-label
                            ma-label--simple
                            ma-label--simple--default
                            ma-label--simple--primary" translate>
                    ¡Crear el perfil es gratuito!
                </div>
            </div>

        </section>
        <!--                     END: GET EARLY ADOPTERS BLOCK                   -->

    </div>

</div>
