/**********************************************************/
/*                   SCHOOL PROFILE PAGE                  */
/**********************************************************/

//VARIABLES
$schoolProfilePage-social-icons-size: 17px;
$schoolProfilePage-social-icons-facebook-size: 20px;
$schoolProfilePage-social-icons-web-size: 15px;
$schoolProfilePage-social-icons-meetup-size: 25px;

.schoolProfilePage {

    &__preview-message {
        position: fixed;
        z-index: 1;
        width: inherit;
    }

    &__language-block {
        .ma-p {
            color: $black;
        }
    }

    &__social-block {

        &__icons {
            .icon {
                font-size: $schoolProfilePage-social-icons-size;
                cursor: pointer;
                vertical-align:middle;

                &--web {
                    color: #999;
                    font-size: $schoolProfilePage-social-icons-web-size;
                    &:hover {
                        color: map-get($main-palette, primary);
                    }
                }

                &--email {
                    color: #999;
                    &:hover {
                        color: $black;
                    }
                }

                &--facebook {
                    font-size: $schoolProfilePage-social-icons-facebook-size;
                    color: #999;
                    &:hover {
                        color: #4267b2;
                    }
                }

                &--twitter {
                    color: #999;
                    &:hover {
                        color: #1da1f2;
                    }
                }

                &--instagram {
                    color: #999;
                    &:hover {
                        color: #d31d72;
                    }
                }

                &--meetup {
                    color: #999;
                    font-size: $schoolProfilePage-social-icons-meetup-size;
                    &:hover {
                        color: #ed1c40;
                    }
                }

                &--disabled {
                    color: $cloud;
                    cursor: not-allowed;
                    &:hover {
                        color: $cloud;
                    }
                }
            }
        }
    }

    &__buttons-block {
        &__left {
            padding-left: 0px;
        }

        &__right {
            padding-right: 0px;
        }

        .ma-btn {
            width: 100%;
        }
    }

    &__main-block {

        &__title {
            font-size: 22px;
            padding: 7px 15px;
            background-image: linear-gradient(to right, rgb(218, 246, 255), rgb(254, 254, 254));
            -webkit-border-bottom-left-radius: 10px;
            -moz-border-bottom-left-radius: 10px;
            border-bottom-left-radius: 10px;
            -webkit-border-top-left-radius: 10px;
            -moz-border-top-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        .ma-box__content {
            padding: 30px;

            h4 {
                font-size: 16px;
            }

            .school-location-map {
                height: 400px;
            }
        }
    }
}


/*==========  Mobile First Method  ==========*/

 /* Custom, iPhone Retina */
 @media only screen and (min-width : 320px) {

 }

 /* Extra Small Devices, Phones */
 @media only screen and (min-width : 480px) {

 }

 /* Small Devices, Tablets */
 @media only screen and (min-width : 768px) {
    .schoolProfilePage {
        &__avatar-block {
            .ma-rectangle-photo-profile {
                height: map-get($image-rectangle-photo-height-sizes, small);
                min-height: map-get($image-rectangle-photo-height-sizes, small);
                min-width: map-get($image-rectangle-photo-width-sizes, small);
                width: map-get($image-rectangle-photo-width-sizes, small);
            }
        }
    }
 }

 /* Medium Devices, Desktops */
 @media only screen and (min-width : 992px) {

     .schoolProfilePage {
         &__avatar-block {
             .ma-rectangle-photo-profile {
                 height: map-get($image-rectangle-photo-height-sizes, default);
                 min-height: map-get($image-rectangle-photo-height-sizes, default);
                 min-width: map-get($image-rectangle-photo-width-sizes, default);
                 width: map-get($image-rectangle-photo-width-sizes, default);
             }
         }
     }

 }

 /* Large Devices, Wide Screens */
 @media only screen and (min-width : 1200px) {

    .schoolProfilePage {
        &__avatar-block {
            .ma-rectangle-photo-profile {
                width: map-get($image-rectangle-photo-width-sizes, large);
                height: map-get($image-rectangle-photo-height-sizes, large);
            }
        }

        &__booking-block {
            .ma-box {
                width: 20.8%;
            }
        }
    }

 }

 /* Extra Large Devices, Wide Screens */
 @media only screen and (min-width : 1600px) {

    .schoolProfilePage {
        &__avatar-block {
            .ma-rectangle-photo-profile {
                width: map-get($image-rectangle-photo-width-sizes, large);
                height: map-get($image-rectangle-photo-height-sizes, large);
            }
        }

        &__booking-block {
            .ma-box {
                width: 16%;
            }
        }
    }

 }
