/*************************/
/*       VARIABLES       */
/*************************/
$userEditProfile-padding: 20px;
$userEditProfile-block-margin: 20px;

/**********************************************************/
/*                 USER EDIT PROFILE PAGE                 */
/**********************************************************/

.userEditProfilePage {
    padding-top: $userEditProfile-padding;

    &__block {
        margin-bottom: $userEditProfile-block-margin;
    }
}
