
<!--                          START: SUBNAV MENU                             -->
<!----------------------------------------------------------------------------->

<div class="ma-subnav">

    <div class="container">
        <ul class="ma-subnav__list text-center">
            <li class="ma-subnav__list__option hidden">
                <a class="ma-subnav__list__option__tab"
                   ui-sref="page.userInboxPage"
                   href>Bandeja de Entrada</a>
            </li>
            <li class="ma-subnav__list__option hidden">
                <a class="ma-subnav__list__option__tab"
                   href>Invitar amigos</a>
            </li>
            <li ng-if="vm.isTeacher"
                class="ma-subnav__list__option">
                <a class="ma-subnav__list__option__tab"
                   ui-sref="page.editTeacher.teach"
                   href translate>
                   %subnav.user.dashboard.teacher.option.text
                </a>
            </li>
            <li class="ma-subnav__list__option">
                <a class="ma-subnav__list__option__tab
                          ma-subnav__list__option__tab--active"
                   ui-sref="page.userEditProfilePage"
                   href translate>
                   %global.profile.text
                </a>
            </li>
            <li class="ma-subnav__list__option hidden">
                <a class="ma-subnav__list__option__tab"
                   ui-sref="page.userEditAgendaPage"
                   href>Agenda</a>
            </li>
        </ul>
    </div>

</div>
<!--                             END: SUBNAV MENU                            -->



<!----------------------------------------------------------------------------->
<!--                          USER EDIT PROFILE PAGE                         -->
<!----------------------------------------------------------------------------->

<div class="userEditProfilePage container">

    <div class="row">

        <!--                     START: LEFT COLUMN                          -->
        <!--------------------------------------------------------------------->
        <div id="userEditProfile-left-column" class="col-md-3 col-lg-3">

            <!--------------------- START: LEFT MENU BLOCK -------------------->
            <div id="userEditProfile-menu-block"
                 class="userEditProfilePage__block row">

                <div class="col-md-12">

                    <div class="ma-box ma-box">

                        <div class="ma-box__content ma-box__content--padding-reset">
                            <div class="menu-box">
                                <div class="menu-box__item
                                            menu-box__item--active text-capitalize"
                                     translate>
                                    %profile.teacher.edit_profile.button.text
                                </div>
                                <div class="menu-box__item text-capitalize"
                                     ng-click="vm.goToEditMedia()"
                                     translate>
                                    %edit.profile.edit_photo.option.button.text
                                </div>
                                <div class="menu-box__item text-capitalize"
                                     ng-click="vm.goToEditLocation()"
                                     translate>
                                    %edit.profile.edit_location.option.button.text
                                </div>
                                <div class="menu-box__item menu-box__item--with-button hidden">
                                    <a class="ma-btn ma-btn--default ma-btn--primary
                                              ma-btn--block text-capitalize"
                                       ng-click="vm.goToViewProfile()"
                                       href translate>
                                       %edit.profile.view_profile.option.button.text
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!--                    END: LEFT MENU BLOCK                     -->

        </div>
        <!--                        END: LEFT COLUMN                         -->



        <!--                     START: MIDDLE COLUMN                        -->
        <!--------------------------------------------------------------------->
        <div id="userEditProfile-middle-column"
             class="col-md-9 col-lg-9 space-10">

            <!-------------------- START: BASIC INFO BLOCK -------------------->
            <div id="userEditProfile-basicInfo-block"
                 class="userEditProfilePage__block row">

                <div class="col-md-12">

                    <div class="ma-box">

                        <h4 class="ma-box__title margin-reset text-capitalize"
                            translate>
                            %edit.profile.basic_info.title.text
                        </h4>

                        <div class="ma-box__content">

                            <form class="form-horizontal
                                         ma-form--horizontal">

                                <! First Name >
                                <div class="form-group
                                            ma-form-group
                                            ma-form-group--default">
                                    <label class="text-right col-xs-3 col-sm-3"
                                           for="user-first-name" translate>
                                           %create.teacher.basic_info.form.first_name.text
                                    </label>
                                    <div class="col-xs-9 col-sm-9">
                                        <input id="user-first-name"
                                               type="text"
                                               ng-model="vm.form.firstName"
                                               class="ma-input ma-input--default"
                                               ng-class="{'ma-input--invalid': !vm.validate.firstName.valid}">
                                        <p class="ma-p ma-p--small ma-p--alert pull-right"
                                           ng-show="!vm.validate.firstName.valid">
                                           <span>{{vm.validate.firstName.message}}</span>
                                        </p>
                                    </div>
                                </div>

                                <! Last Name >
                                <div class="form-group
                                            ma-form-group
                                            ma-form-group--default">
                                    <label class="text-right col-xs-3 col-sm-3"
                                           for="user-last-name" translate>
                                        %create.teacher.basic_info.form.last_name.text
                                    </label>
                                    <div class="col-xs-9 col-sm-9">
                                        <input id="user-last-name"
                                               type="text"
                                               ng-model="vm.form.lastName"
                                               class="ma-input ma-input--default"
                                               ng-class="{'ma-input--invalid': !vm.validate.lastName.valid}">
                                        <p class="ma-p ma-p--small ma-p--alert pull-right"
                                         ng-show="!vm.validate.lastName.valid">
                                          <span>{{vm.validate.lastName.message}}</span>
                                        </p>
                                    </div>
                                </div>

                                <! Phone Number >
                                <div class="form-group
                                            ma-form-group
                                            ma-form-group--default">
                                    <label class="text-right col-xs-3 col-sm-3"
                                           for="user-phone-number" translate>
                                        %create.teacher.basic_info.form.phone_number.text
                                    </label>
                                    <div class="col-xs-9 col-sm-9">
                                        <input id="user-phone-number"
                                               type="text"
                                               ng-model="vm.form.phoneNumber"
                                               translate
                                               translate-attr-placeholder="%create.teacher.basic_info.form.phone_number.placeholder.text"
                                               class="ma-input ma-input--default"
                                               ng-class="{'ma-input--invalid': !vm.validate.phoneNumber.valid}">
                                        <p class="ma-p ma-p--small ma-p--alert pull-right"
                                            ng-show="!vm.validate.phoneNumber.valid">
                                           <span>{{vm.validate.phoneNumber.message}}</span>
                                        </p>
                                    </div>
                                </div>

                                <! I am Select >
                                <div class="form-group
                                            ma-form-group
                                            ma-form-group--default">
                                    <label class="text-right col-xs-3 col-sm-3"
                                           for="user-gender" translate>
                                        %create.teacher.basic_info.form.i_am.text
                                    </label>
                                    <div class="col-xs-9 col-sm-9">
                                        <div class="ma-select-container
                                                    ma-select-container--default">
                                            <select id="user-gender"
                                                    class="ma-input ma-select
                                                           ma-select--default"
                                                    ng-class="{'ma-input--invalid': !vm.validate.gender.valid}"
                                                    name="teacher[gender]"
                                                    ng-model="vm.genderObject.gender"
                                                    ng-options="gender.value | translate for gender in vm.listGenders track by gender.code">
                                                    <option value="" disabled selected translate>
                                                        %create.teacher.basic_info.form.gender.text
                                                    </option>
                                            </select>
                                            <p class="ma-p ma-p--small ma-p--alert pull-right"
                                                ng-show="!vm.validate.gender.valid">
                                                <span>{{vm.validate.gender.message}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <! User Birthdate >
                                <div class="form-group
                                            ma-form-group
                                            ma-form-group--default">
                                    <label class="text-right col-xs-3 col-sm-3"
                                           translate>
                                        %create.teacher.basic_info.form.birthdate.text
                                    </label>
                                    <div class="col-xs-9 col-sm-9">
                                        <!-- Month -->
                                        <div class="ma-select-container
                                                    ma-select-container--default">
                                            <select id="user-month-birthdate"
                                                    class="ma-input ma-select
                                                           ma-select--default"
                                                    ng-model="vm.dateObject.month"
                                                    ng-options="month.value | translate for month in vm.listMonths track by month.code"
                                                    ng-class="{'ma-input--invalid': !vm.validate.birthDate.month.valid}"
                                                    name="user[month]" class="form-control">
                                                    <option value="" disabled selected translate>
                                                        %global.mth.label.text
                                                    </option>
                                            </select>
                                        </div>
                                        <!-- Day -->
                                        <div class="ma-select-container
                                                    ma-select-container--default">
                                            <select id="user-day-birthdate"
                                                    class="ma-input ma-select
                                                           ma-select--default"
                                                    ng-model="vm.dateObject.day"
                                                    ng-options="day.value for day in vm.listDays track by day.value"
                                                    ng-class="{'ma-input--invalid': !vm.validate.birthDate.day.valid}"
                                                    name="user[day]" class="form-control">
                                                    <option value="" disabled selected translate>
                                                        %global.day.label.text
                                                    </option>
                                            </select>
                                        </div>
                                        <!-- Year -->
                                        <div class="ma-select-container
                                                    ma-select-container--default">
                                            <select id="user-year-birthdate"
                                                    class="ma-input ma-select
                                                           ma-select--default"
                                                    ng-model="vm.dateObject.year"
                                                    ng-options="year.value for year in vm.listYears | orderBy:'value':true track by year.value"
                                                    ng-class="{'ma-input--invalid': !vm.validate.birthDate.year.valid}"
                                                    name="user[year]" class="form-control">
                                                    <option value="" disabled selected translate>
                                                        %global.year.label.text
                                                    </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <! Country birth >
                                <div class="form-group
                                            ma-form-group
                                            ma-form-group--default">
                                    <label class="text-right col-xs-3 col-sm-3"
                                           for="user-country-birth" translate>
                                        %global.cntry_birth.label.text
                                    </label>
                                    <div class="col-xs-9 col-sm-9">
                                        <div class="ma-select-container
                                                    ma-select-container--default">
                                            <select id="user-country-birth"
                                                    class="ma-input ma-select
                                                           ma-select--default"
                                                    ng-model="vm.countryObject"
                                                    ng-options="country.value | translate for country in vm.listCountries track by country.code"
                                                    ng-class="{'ma-input--invalid': !vm.validate.countryBirth.valid}"
                                                    name="user[country]">
                                                    <option value="" disabled selected translate>
                                                        %create.teacher.location.form.cntry.option_list.text
                                                    </option>
                                            </select>
                                            <p class="ma-p ma-p--small ma-p--alert
                                                      pull-right margin-reset"
                                                ng-show="!vm.validate.countryBirth.valid">
                                                <span>
                                                    {{vm.validate.countryBirth.message}}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <! City birth >
                                <div class="form-group
                                            ma-form-group
                                            ma-form-group--default">
                                    <label class="text-right col-xs-3 col-sm-3"
                                           for="user-city-birth" translate>
                                        %global.city_birth.label.text
                                    </label>
                                    <div class="col-xs-9 col-sm-9">
                                        <input id="user-city-birth"
                                               type="text"
                                               class="ma-input ma-input--default"
                                               ng-class="{'ma-input--invalid': !vm.validate.cityBirth.valid}"
                                               ng-model="vm.form.cityBirth"
                                               translate
                                               translate-attr-placeholder="%create.teacher.basic_info.form.born.placeholder.text">
                                        <p class="ma-p ma-p--small ma-p--alert pull-right"
                                            ng-show="!vm.validate.cityBirth.valid">
                                           <span>{{vm.validate.cityBirth.message}}</span>
                                        </p>
                                    </div>
                                </div>

                                <! About me >
                                <div class="form-group
                                            ma-form-group
                                            ma-form-group--default">
                                    <label class="text-right col-xs-3 col-sm-3"
                                           for="user-about" translate>
                                        %create.teacher.basic_info.form.about.text
                                   </label>
                                    <div class="col-xs-9 col-sm-9">
                                        <textarea id="user-about"
                                                  name="user[about]"
                                                  class="ma-input ma-input--default ma-textarea"
                                                  ng-class="{'ma-input--invalid': !vm.validate.about.valid}"
                                                  translate
                                                  translate-attr-placeholder="%create.teacher.basic_info.form.about.input.text"
                                                  ng-model="vm.form.about"
                                                  rows="5" cols="40"></textarea>
                                        <p class="ma-p ma-p--small ma-p--alert pull-right"
                                           ng-show="!vm.validate.about.valid">
                                           <span>{{vm.validate.about.message}}</span>
                                        </p>
                                    </div>
                                </div>

                            </form>

                        </div>

                        <div class="ma-box__footer">

                            <div class="row middle-xs">

                                <div class="col-xs-6 col-sm-4 text-left">

                                    <span class="ma-label
                                                 ma-label--simple
                                                 ma-label--simple--large
                                                 ma-label--simple--primary
                                                 margin-reset"
                                          ng-class="{'hidden' : !vm.saved}">
                                        <i class="material-icons
                                                  md-30
                                                  md-primary
                                                  vertical-align-middle">
                                            sentiment_very_satisfied
                                        </i>
                                        <span class="vertical-align-middle"
                                              translate>
                                            %notification.success.text
                                        </span>
                                    </span>

                                    <span class="ma-label
                                                 ma-label--simple
                                                 ma-label--simple--large
                                                 ma-label--simple--alert
                                                 margin-reset"
                                          ng-class="{'hidden' : !vm.error}"
                                          translate>
                                        %notification.error.server.text
                                    </span>

                                </div>

                                <div class="hidden-xs col-sm-4"></div>

                                <div class="col-xs-6 col-sm-4 text-right">

                                    <button class="ma-btn
                                                   ma-btn--primary
                                                   ma-btn--medium"
                                            ng-click="vm.saveBasicInfoSection()"
                                            ng-disabled="vm.saving">
                                        <span ng-class="{'hidden' : vm.saving}"
                                              translate>
                                            %global.save.button.text
                                        </span>
                                        <span ng-class="{'hidden' : !vm.saving}"
                                              translate>
                                            %global.saving.button.text
                                        </span>
                                   </button>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--                     END: BASIC INFO BLOCK                   -->



            <!---------------- START: FLUENT AND LEARNING BLOCK --------------->
            <div id="userEditProfile-language-block"
                 class="userEditProfilePage__block row">

                <div class="col-md-12">

                    <div class="ma-box">

                        <h4 class="ma-box__title margin-reset text-capitalize"
                            translate>
                            %global.lang.label.text
                        </h4>

                        <div class="ma-box__content">

                            <form class="form-horizontal
                                         ma-form--horizontal">

                                <! Native Languages Box >
                                <div class="form-group
                                            ma-form-group
                                            ma-form-group--small
                                            space-6">
                                    <label class="text-right col-xs-3 col-sm-3"
                                           for="user-native-languages" translate>
                                        %create.teacher.lang.form.native.text
                                    </label>
                                    <div class="col-xs-9 col-sm-9">
                                        <div id="user-native-languages"
                                             class="text-left ma-labels-box ma-labels-box--dashed"
                                             ng-class="{'ma-labels-box--dashed--invalid': !vm.validate.native.valid}">
                                             <div class="ma-label ma-label--box
                                                         ma-label--box--secondary
                                                         ma-label--box--default
                                                         ma-label--box--default--with-icon
                                                         ma-label--box--space2"
                                                  ng-repeat="language in vm.form.native">
                                                 {{language.value}}
                                                 <i class="ma-label--box--default--with-icon__icon
                                                               material-icons"
                                                    ng-click="vm._removeLanguage(language.key, 'native')">clear</i>
                                             </div>
                                        </div>
                                        <div class="row margin-reset">
                                            <div class="col-xs-7 col-sm-8 padding-reset">
                                                <p class="ma-p ma-p--small ma-p--alert pull-left"
                                                   ng-show="!vm.validate.native.valid">
                                                    <span>{{vm.validate.native.message}}</span>
                                                </p>
                                            </div>
                                            <div class="col-xs-5 col-sm-4 padding-reset">
                                                <a class="ma-link ma-link--box
                                                          ma-link--box--primary
                                                          space-top-1 pull-right"
                                                   href
                                                   ng-click="vm._addNewLanguages('native', $event)"
                                                   translate>
                                                    %global.add_more.button.text
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <! Learn Languages Box >
                                <div class="form-group
                                            ma-form-group
                                            ma-form-group--small
                                            space-6">
                                    <label class="text-right col-xs-3 col-sm-3"
                                           for="user-learn-languages" translate>
                                        %create.teacher.lang.form.learn.text
                                    </label>
                                    <div class="col-xs-9 col-sm-9">
                                        <div id="user-learn-languages"
                                             class="text-left ma-labels-box ma-labels-box--dashed"
                                             ng-class="{'ma-labels-box--dashed--invalid': !vm.validate.learn.valid}">
                                             <div class="ma-label ma-label--box
                                                         ma-label--box--secondary
                                                         ma-label--box--default
                                                         ma-label--box--default--with-icon
                                                         ma-label--box--space2"
                                                  ng-repeat="language in vm.form.learn">
                                                 {{language.value}}
                                                 <i class="ma-label--box--default--with-icon__icon
                                                               material-icons"
                                                    ng-click="vm._removeLanguage(language.key, 'learn')">clear</i>
                                             </div>
                                        </div>
                                        <div class="row margin-reset">
                                            <div class="col-xs-7 col-sm-8 padding-reset">
                                                <p class="ma-p ma-p--small ma-p--alert pull-left"
                                                   ng-show="!vm.validate.learn.valid">
                                                    <span>{{vm.validate.learn.message}}</span>
                                                </p>
                                            </div>
                                            <div class="col-xs-5 col-sm-4 padding-reset">
                                                <a class="ma-link ma-link--box
                                                          ma-link--box--primary
                                                          space-top-1 pull-right"
                                                   href
                                                   ng-click="vm._addNewLanguages('learn', $event)"
                                                   translate>
                                                    %global.add_more.button.text
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>

                        <div class="ma-box__footer">

                            <div class="row middle-xs">

                                <div class="col-xs-6 col-sm-4 text-left">

                                    <span class="ma-label
                                                 ma-label--simple
                                                 ma-label--simple--large
                                                 ma-label--simple--primary
                                                 margin-reset"
                                          ng-class="{'hidden' : !vm.saved}">
                                        <i class="material-icons
                                                  md-30
                                                  md-primary
                                                  vertical-align-middle">
                                            sentiment_very_satisfied
                                        </i>
                                        <span class="vertical-align-middle"
                                              translate>
                                            %notification.success.text
                                        </span>
                                    </span>

                                    <span class="ma-label
                                                 ma-label--simple
                                                 ma-label--simple--large
                                                 ma-label--simple--alert
                                                 margin-reset"
                                          ng-class="{'hidden' : !vm.error}"
                                          translate>
                                        %notification.error.server.text
                                    </span>

                                </div>

                                <div class="hidden-xs col-sm-4"></div>

                                <div class="col-xs-6 col-sm-4 text-right">

                                    <button class="ma-btn
                                                   ma-btn--primary
                                                   ma-btn--medium"
                                            ng-click="vm.saveLanguagesSection()"
                                            ng-disabled="vm.saving">
                                        <span ng-class="{'hidden' : vm.saving}"
                                              translate>
                                            %global.save.button.text
                                        </span>
                                        <span ng-class="{'hidden' : !vm.saving}"
                                              translate>
                                            %global.saving.button.text
                                        </span>
                                   </button>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!--               END: FLUENT AND LEARNING BLOCK                -->


        </div>
        <!--                      END: MIDDLE COLUMN                         -->

    </div>

</div>
