<!----------------------------------------------------->
<!--                MEETING POINT MODAL              -->
<!----------------------------------------------------->

<div class="ma-box modalMeetingPoint">

    <!--                               TITLE                                 -->
    <!------------------------------------------------------------------------->
    <h4 class="ma-box__title margin-reset">Add New Meeting Point
        <div class="ma-box__title__right-block pull-right">
            <i class="material-icons
                      md-18
                      md-dark md-dark--clicked"
                      ng-click="vm.close()">close</i>
        </div>
    </h4>


    <!--                              CONTENT                                -->
    <!------------------------------------------------------------------------->
    <div class="ma-box__content modalMeetingPoint__content">

        <!--                START: ADD MEETING POINT FORM BLOCK              -->
        <!--------------------------------------------------------------------->
        <form  id="modalMeetingPoint-form-block" class="form-horizontal
                                                        ma-form--horizontal">

            <!-- Name of Point Input -->
            <div class="form-group
                     ma-form-group
                     ma-form-group--default">
                <label class="text-right col-xs-3 col-sm-3"
                       for="namePointInput">Name</label>
                <div class="col-xs-9 col-sm-9">
                    <input id="namePointInput"
                           type="text"
                           class="ma-input ma-input--default"
                           placeholder="nombre del café, restaurante, biblioteca, etc.">
                </div>
            </div>

            <!-- Address of Point Input -->
            <div class="form-group
                     ma-form-group
                     ma-form-group--default">
                <label class="text-right col-xs-3 col-sm-3"
                       for="addressPointInput">Address</label>
                <div class="col-xs-9 col-sm-9">
                    <input id="addressPointInput"
                           type="text"
                           class="ma-input ma-input--default">
                </div>
            </div>

            <!-- City of Point Input -->
            <div class="form-group
                     ma-form-group
                     ma-form-group--default">
                <label class="text-right col-xs-3 col-sm-3"
                       for="cityPointInput">City/Town</label>
                <div class="col-xs-9 col-sm-9">
                    <input id="cityPointInput"
                           type="text"
                           class="ma-input ma-input--default">
                </div>
            </div>

            <!-- State of Point Input -->
            <div class="form-group
                     ma-form-group
                     ma-form-group--default">
                <label class="text-right col-xs-3 col-sm-3"
                       for="statePointInput">State/Province</label>
                <div class="col-xs-9 col-sm-9">
                    <input id="statePointInput"
                           type="text"
                           class="ma-input ma-input--default">
                </div>
            </div>

            <!-- Country Select Input -->
            <div class="form-group
                        ma-form-group
                        ma-form-group--default">
                <label class="text-right col-xs-3 col-sm-3"
                       for="countrySelect">Country</label>
                <div class="col-xs-9 col-sm-9">
                    <div class="ma-select-container
                                ma-select-container--default">
                        <select id="countrySelect"
                                class="ma-input ma-select
                                       ma-select--default"
                                name="point[country]">
                            <option value="Argentina" selected="selected">Argentina</option>
                            <option value="Colombia">Colombia</option>
                            <option value="New Zealand">New Zealand</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Category Select Input -->
            <div class="form-group
                        ma-form-group
                        ma-form-group--default">
                <label class="text-right col-xs-3 col-sm-3"
                       for="categorySelect">Category</label>
                <div class="col-xs-9 col-sm-9">
                    <div class="ma-select-container
                                ma-select-container--default">
                        <select id="categorySelect"
                                class="ma-input ma-input--block ma-select
                                       ma-select--default"
                                name="point[category]">
                            <option value="Café" selected="selected">Café</option>
                            <option value="Super Market">Super Market</option>
                            <option value="Mall Center">Mall Center</option>
                            <option value="Restaurant">Restaurant</option>
                            <option value="Library">Library</option>
                            <option value="Park">Park</option>
                        </select>
                    </div>
                </div>
            </div>

        </form>
        <!--                END: ADD MEETING POINT FORM BLOCK                -->



        <!--              START: MEETING POINT MAP LOCATION BLOCK            -->
        <!--------------------------------------------------------------------->
        <div id="modalMeetingPoint-map-block"
             class="row">
            <div class="modalMeetingPoint__content__map-block
                        col-md-12">
                <h4 class="space-top-4 space-2">Arrastra el indicador, para escoger la ubicación exacta</h4>
                <div class="location-map location-map--border">
                    <ma-map map-config="vm.mapConfigModal"></ma-map>
                </div>
                <div class="row margin-reset">
                    <div class="col-md-12 padding-reset">
                        <p class="ma-p ma-p--small space-top-1 margin-reset">
                            Help text
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <!--              END: MEETING POINT MAP LOCATION BLOCK              -->

        <div id="modalMeetingPoint-description-block">
            <!-- TextArea Input -->
            <div class="form-group ma-form-group">
                <h4 class="space-top-4 space-2">Por que lo recomiendas para un intercambio de idiomas?</h4>
                <textarea id="textarea1"
                          name="user_profile_info[about]"
                          class="ma-input ma-input--default ma-textarea"
                          placeholder="e.g. Richard's cafe is a perfect place to talk and exchange experiences, for this reason it's ideal to language exchange..."
                          rows="4" cols="20"></textarea>
            </div>

        </div>

    </div>


    <!--                              FOOTER                                 -->
    <!------------------------------------------------------------------------->
    <div class="ma-box__footer text-center">
        <button class="ma-btn ma-btn--primary ma-btn--large">Guardar</button>
    </div>

</div>
