<!----------------------------------------------------------------------------->
<!--                         TEACHERS RESULT TEMPLATE                        -->
<!----------------------------------------------------------------------------->


<!------------------------ START: TEACHER INFO BLOCK -------------------------->
<div id="container-{{item.id}}"
     class="search-result__teacher__block
            ma-box space-top-5"
     ng-mouseover="vm._hoverEvent(item.id, true)"
     ng-mouseleave="vm._hoverEvent(item.id, false)"
     ng-class="{ 'search-result__teacher__block--selected': vm._hoverDetail[item.id] }"
     ng-click="vm.goToDetails(item.id)">


    <!------------------- START: TEACHER INFO BLOCK (MAIN FACE) --------------->
    <div class="ma-box__content" ng-hide="vm._hoverDetail[item.id]">

        <!--------------------- START: TEACHER AVATAR BLOCK ------------------->
        <div class="search-result__teacher__block__avatar
                    row text-center space-2">

            <div class="col-xs-12 col-md-12">

                <div class="search-result__teacher__block__avatar__container">

                    <div class="ma-photo-profile
                                    ma-photo-profile--medium
                                    round">
                        <img width="170"
                             height="170"
                             ng-src="{{item.avatar}}"
                             alt="{{item.firstName}}">
                             <div class="ma-icon-container
                                         ma-icon-container--white
                                         ma-icon-container--medium round">
                                 <i class="ma-icon-container--medium__icon
                                           material-icons">
                                    done_all
                                </i>
                             </div>
                    </div>

                </div>

            </div>

        </div>
        <!--                 END: TEACHER AVATAR BLOCK               -->



        <!--------------------- START: TEACHER NAME BLOCK --------------------->
        <div class="row text-center space-1">

            <div class="col-xs-12 col-md-12">

                <h3 class="margin-reset">
                    {{item.firstName}}
                </h3>

            </div>

        </div>
        <!--                    END: TEACHER AVATAR BLOCK                    -->



        <!----------------- START: TEACHER CITY - COUNTRY BLOCK --------------->
        <div class="row text-center space-1">

            <div class="col-xs-12 col-md-12">

                <p class="ma-p ma-p--default margin-reset">
                    {{item.born}}
                </p>

            </div>

        </div>
        <!--                 END: TEACHER CITY - COUNTRY BLOCK               -->



        <!------------------- START: TEACHER REVIEWS BLOCK -------------------->
        <div class="row text-center">

            <div class="col-xs-12 col-md-12"
                 ng-class="{'space-6' : item.ratings.length == 0}">
                <ma-rating ng-if="item.ratings.length > 0"
                           rating-value="vm._ratingAverage(item.ratings)"
                           size="small">
                </ma-rating>
                <div ng-if="item.ratings.length == 0"
                     class="ma-label
                            ma-label--box
                            ma-label--box--alert
                            ma-label--box--small
                            ma-label--box--space5">NUEVO</div>
            </div>

        </div>

        <div class="row text-center space-3" ng-if="item.ratings.length > 0">
            <div class="col-xs-12 col-md-12">
                <p class="ma-p ma-p--small margin-reset">
                    <span>{{item.ratings.length}}</span>
                    <span translate>
                        %global.review.text
                    </span>
                </p>
            </div>
        </div>

        <!--                    END: TEACHER REVIEWS BLOCK                   -->



        <!------------------- START: TEACHER LANGUAGES BLOCK ------------------>
        <div class="search-result__teacher__block__languages
                    row text-center space-1">

            <div class="search-result__teacher__block__languages__container
                        search-result__teacher__block__languages__container--left
                        col-xs-6 col-md-6">

                <div class="row space-2">
                    <div class="col-xs-12 col-md-12">
                        <h4 class="margin-reset" translate>
                            %search.container.teacher.lang.teach.title.text
                        </h4>
                    </div>
                </div>

                <div class="row" ng-repeat="language in item.languages.teach track by $index"
                     ng-if="$index < 3">
                    <div class="col-xs-12 col-md-12">
                        <p class="ma-p ma-p--default text-truncate margin-reset">
                            {{ language | getI18nFilter:'language' }}
                        </p>
                    </div>
                </div>

                <div class="row" ng-if="item.languages.teach.length > 3">
                    <div class="col-xs-12 col-md-12">
                        <p class="ma-p ma-p--default
                                  ma-p--info text-truncate margin-reset"
                           translate>
                            %global.more.label.text
                        </p>
                    </div>
                </div>

            </div>

            <div class="search-result__teacher__block__languages__container
                        col-xs-6 col-md-6">

                <div class="row space-2">
                    <div class="col-xs-12 col-md-12">
                        <h4 class="margin-reset" translate>
                            %search.container.teacher.lang.learn.title.text
                        </h4>
                    </div>
                </div>

                <div class="row" ng-repeat="language in item.languages.learn track by $index"
                     ng-if="$index < 3">
                    <div class="col-xs-12 col-md-12">
                        <p class="ma-p ma-p--default text-truncate margin-reset">
                            {{ language | getI18nFilter:'language' }}
                        </p>
                    </div>
                </div>

                <div class="row" ng-if="item.languages.learn.length > 3">
                    <div class="col-xs-12 col-md-12">
                        <p class="ma-p ma-p--default
                                  ma-p--info text-truncate margin-reset"
                           translate>
                            %global.more.label.text
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <!--                  END: TEACHER LANGUAGES BLOCK                   -->

    </div>
    <!--                  END: TEACHER INFO BLOCK (MAIN FACE)                -->


    <!------------------- START: TEACHER INFO BLOCK (FLIP FACE) --------------->
    <div class="ma-box__content" ng-show="vm._hoverDetail[item.id]">


        <!---------------------- START: NATIVE INFO BLOCK --------------------->
        <div class="search-result__teacher__block__native
                    row text-center
                    space-1"
             ng-class="{'search-result__teacher__block__native--noNative': !vm._assignNativeClass(item.languages)}">

            <div class="col-xs-12 col-md-12">

                <h4 class="margin-reset" translate>
                    %search.container.teacher.native.title.text
                </h4>

            </div>

        </div>
        <!--                     END: NATIVE INFO BLOCK                      -->



        <!------------------- START: TYPE OF TEACHER INFO BLOCK --------------->
        <div class="search-result__teacher__block__type-teacher
                    row text-center space-1">

            <div class="col-xs-12 col-md-12">

                <div class="ma-label
                            ma-label--box
                            ma-label--box--alert-secondary
                            ma-label--box--default
                            ma-label--box--block">
                    {{ item.type | getTypeOfTeacherFilter }}
                </div>

            </div>

        </div>
        <!--                     END: NATIVE INFO BLOCK                      -->



        <!------------------- START: TEACHER SINCE INFO BLOCK ----------------->
        <div class="row text-center space-2">

            <div class="col-xs-12 col-md-12">

                <h4>
                    <span translate>
                        %search.container.teacher.since.title.text
                    </span>
                    <span>
                        {{item.teacherSince}}
                    </span>
                </h4>

            </div>

        </div>
        <!--                   END: TEACHER SINCE INFO BLOCK                 -->



        <!-------------------- START: TEACHER IMMERSION BLOCK ----------------->
        <div class="search-result__teacher__block__immersion
                    row text-center space-1"
             ng-class="{'search-result__teacher__block__immersion--NoImmersion': !item.immersion.active}">
            <div class="col-xs-1"></div>

            <div class="col-xs-10">
                <div class="row center-xs middle-xs">
                    <div class="col-md-8 text-left">
                        <h3 class="margin-reset" translate>
                            %search.container.teacher.imm.title.text
                        </h3>
                    </div>
                    <div class="col-md-4 text-right">
                        <i class="material-icons md-primary md-36"
                           ng-if="item.immersion.active">
                            check
                        </i>
                        <i class="material-icons md-dark md-36"
                           ng-if="!item.immersion.active">
                            clear
                        </i>
                    </div>
                </div>
            </div>

            <div class="col-xs-1"></div>
        </div>
        <!--                   END: TEACHER IMMERSION BLOCK                  -->

        <hr>

        <!------------------- START: CLASSES PRICE INFO BLOCK ----------------->
        <div class="search-result__teacher__block__price
                    row text-center space-2">

            <div class="col-xs-12 col-md-12">

                <h3 class="margin-reset" translate>
                    %search.container.teacher.price.title.text
                </h3>

            </div>

        </div>

        <div class="search-result__teacher__block__price
                    row text-center space-1">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <p class="ma-p ma-p--large margin-reset"
                           ng-class="{'ma-p--disable-line-through': !item.price.privateClass.active}"
                           translate>
                            %search.container.teacher.price.private.title.text
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <p class="ma-p ma-p--info ma-p--large margin-reset"
                           ng-if="item.price.privateClass.active">
                            <strong>
                                ${{item.price.privateClass.hourPrice}} / hr
                            </strong>
                        </p>
                        <i class="material-icons md-30"
                           ng-if="!item.price.privateClass.active">
                            event_busy
                        </i>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-result__teacher__block__price
                    row text-center space-2">
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <p class="ma-p ma-p--large
                                  margin-reset"
                           ng-class="{'ma-p--disable-line-through': !item.price.groupClass.active}"
                           translate>
                            %search.container.teacher.price.group.title.text
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <p class="ma-p ma-p--info ma-p--large margin-reset"
                           ng-if="item.price.groupClass.active">
                            <strong>
                                ${{item.price.groupClass.hourPrice}} / hr
                            </strong>
                        </p>
                        <i class="material-icons md-30"
                           ng-if="!item.price.groupClass.active">
                            event_busy
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <!--                   END: CLASSES PRICE INFO BLOCK                 -->

    </div>

    <div class="search-result__teacher__block__methodology
                ma-box__footer" ng-show="vm._hoverDetail[item.id]">

        <!-------------------- START: METHODOLOGY INFO BLOCK ------------------>
        <div class="row text-center">

            <div class="col-xs-12 col-md-12 space-1">

                <h3 class="margin-reset" translate>
                    %search.container.teacher.methodology.title.text
                </h3>

            </div>

        </div>

        <div class="row text-left">

            <div class="col-xs-12 col-md-12">

                <p class="ma-p ma-p--small margin-reset">
                    {{item.methodology}}
                </p>

            </div>

        </div>
        <!--                    END: METHODOLOGY INFO BLOCK                  -->

    </div>
    <!--                  END: TEACHER INFO BLOCK (FLIP FACE)                -->


</div>
<!--                        END: TEACHER INFO BLOCK                          -->
